<div class="w-full h-full pl-32 -mt-6 font-semibold pt-12 flex flex-col">

    <div class="p-6 flex flex-col w-full">
        <div class="flex flex-col w-full">
            <div class="flex flex-row justify-between w-full ">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">{{maintitle}}
                </div>
            </div>

            <div class="flex flex-row">


            </div>

        </div>
        <div class="item-center">
            <div>정말 {{object}} <span class="font-semibold">"{{object_name}}"</span>을(를) 삭제하시겠습니까?</div>
            <div class="text-sm mt-5 text-red-600 font-extrabold">*이와 관련된 모든 자료가 사라질 수도 있습니다.</div>
            <div class="text-sm text-red-600 font-extrabold">*이와 관련된 자료에 오류가 발생할 수도 있습니다.</div>