<div class="w-11/12 h-full ml-32 -mt-6 pt-12 flex flex-row">

    <div class="p-6 flex flex-col w-full">
        <div class="flex flex-col w-full">
            <div class="flex flex-row justify-between w-full ">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">{%if orderproduce%}<i
                        class="fas fa-angle-double-down text-lg"></i> {%endif%}수주정보 - {{order.수주코드}}
                    {%if order.출하구분 == 출하완료%} <div class="text-red-700">"최종출하완료"</div> {%endif%} </div>
                {%if orderproduce%}
                {%else%}
                {%if obj_user == user%}
                <div class="flex flex-row">
                    <div class="mt-2">
                        <a href="{%url "orders:orderedit" order.pk%}">
                            <div class="btn-link bg-teal-800 hover:font-bold">
                                수주 수정 </div>
                        </a>
                    </div>
                    <div class="mt-2">
                        <a href="{%url "orders:orderdeleteensure" order.pk %}">
                            <div class="btn-link  bg-red-800 ml-5 hover:font-bold">
                                수주 삭제 </div>
                        </a>
                    </div>

                </div>
                {%endif%}{%endif%}
            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수주코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">사업장구분</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">영업구분</th>
                        <th class="border bg-gray-200 px-4 py-2 w-32">고객사명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-32">제품코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">제품명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">납품수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">담당자</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수주일자</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">납품요청일</th>
                        {%if order.제품구분 == "랙"%}
                        <th class="border bg-gray-200 px-4 py-2 w-24">조립도면</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">현장명</th>
                        {%endif%}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2 ">
                            {{order.수주코드}}</td>
                        <td class="border px-4 py-2 overflow-x-auto">{{order.사업장구분}}</td>
                        <td class="border px-4 py-2 overflow-x-auto">{{order.영업구분}}</td>
                        <td class="border px-4 py-2 overflow-x-auto">{{order.고객사명}}</td>
                        {%if order.제품구분 == "단품"%}
                        <td class="border px-4 py-2 overflow-x-auto">{{order.단품모델.모델코드}}</td>
                        <td class="border px-4 py-2 overflow-x-auto">{{order.단품모델.모델명}}</td>
                        {%else%}
                        <td class="border px-4 py-2 overflow-x-auto">{{order.랙모델.랙시리얼코드}}</td>
                        <td class="border px-4 py-2 overflow-x-auto">{{order.랙모델.랙모델명}}</td>
                        {%endif%}

                        <td class="border px-4 py-2 overflow-x-auto">{{order.납품수량}}</td>
                        <td class="border px-4 py-2 overflow-x-auto">{{order.작성자}}</td>
                        <td class="border px-4 py-2 overflow-x-auto">
                            {{order.수주일자.year}}-{{order.수주일자.month}}-{{order.수주일자.day}}</td>
                        <td class="border px-4 py-2 overflow-x-auto">
                            {%if order.납품요청일 is None%}
                            {%else%}
                            {{order.납품요청일.year}}-{{order.납품요청일.month}}-{{order.납품요청일.day}}{%endif%}</td>
                        {%if order.제품구분 == "랙"%}
                        <td class="border px-4 py-2 underline hover:text-indigo-700 hover:font-bold overflow-x-auto">
                            <a href="{%url "orders:blueprintdownload" order.pk%}">
                                <script>
                                    var test = "{{order.랙조립도면}}";
                                    var result = test.replace('blueprint/', '');
                                    document.write(result);
                                </script>
                            </a>
                        </td>
                        <td class="border px-4 py-2 overflow-x-auto">{{order.현장명}}</td>
                        {%endif%}
                    </tr>

                </tbody>

            </table>

            {% if order.특이사항 %}


            <span class="ml-3 text-xs text-red-600">
                <i class="fas fa-exclamation-triangle"></i>


                특이사항 : {{order.특이사항}}
            </span>
            {% endif %}

        </div>

        {%if orderproduce%}
        <div class="flex flex-col w-full mt-5">

            <div class="flex flex-row justify-between  w-full ">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">{%if inproduce%}<i
                        class="fas fa-angle-double-down text-lg"></i> {%endif%}생산의뢰 - {{order.생산요청.생산의뢰코드}}</div>
                {%if inproduce%}
                {%else%}
                {%if obj_user == user%}
                <div class="flex flex-row">
                    <div class="mt-2">
                        <a href="{%url "orders:orderproduceedit" order.pk%}">
                            <div class="btn-link bg-teal-800 hover:font-bold">
                                의뢰 수정 </div>
                        </a>
                    </div>
                    <div class="mt-2">
                        <a href="{%url "orders:orderproducedeleteensure" order.pk %}">
                            <div class="btn-link  bg-red-800 ml-5 hover:font-bold">
                                의뢰 삭제 </div>
                        </a>
                    </div>

                </div>
                {%endif%}{%endif%}


            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">생산의뢰코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">긴급도</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">생산목표수량</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2  ">
                            {{order.생산요청.생산의뢰코드}}</a></td>
                        <td class="border px-4 py-2">{{order.생산요청.긴급도}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산목표수량}}</td>
                    </tr>

                </tbody>
            </table>


        </div>
        {%endif%}
        {%if inproduce%}
        <div class="flex flex-col w-full  mt-5">
            <div class="flex flex-row justify-between w-full">
                <div class="flex flex-col  w-full">
                    <div class=" border-b w-64 font-semibold border-gray-600">{%if final%}<i
                            class="fas fa-angle-double-down text-lg"></i> {%endif%}생산 중 - {{order.생산요청.생산계획.생산계획등록코드}}
                    </div>
                </div>


            </div>
            {%if order.생산요청.생산계획.작성자 == user%}
            {%if orderfinalboolean%}
            {%else%}
            <div class="flex justify-end">
                <div class="flex flex-row">
                    <div class="">
                        <a href="{%url "producemanages:produceplanupdate" order.생산요청.생산계획.pk%}">
                            <div class="btn-link mb-0 bg-teal-800 hover:font-bold">
                                업데이트 </div>
                        </a>
                    </div>
                    <div class="">
                        <a href="{%url "producemanages:produceplantotalupdate" order.생산요청.생산계획.pk %}">
                            <div class="btn-link mb-0 bg-blue-800 ml-5 hover:font-bold">
                                생산계획수정 </div>
                        </a>
                    </div>
                    <div class="">
                        <a href="{%url "producemanages:produceplandeleteensure" order.생산요청.생산계획.pk %}">
                            <div class="btn-link mb-0 bg-red-800 ml-5 hover:font-bold">
                                생산계획삭제 </div>
                        </a>
                    </div>
                </div>
            </div>
            {%endif%}
            {%endif%}
            <table class="table-fixed font-light text-xs w-full -mt-4">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">생산계획등록코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">현재공정</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">현재공정달성율</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">계획생산량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">일일생산량</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2  ">
                            {{order.생산요청.생산계획.생산계획등록코드}}</a></td>.
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.현재공정}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.현재공정달성율}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.계획생산량}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.일일생산량}}</td>

                    </tr>

                </tbody>
            </table>
            </table>

            {%if workdoneboolean%}
            <div class="flex justify-center flex-col">
                <div class="w-full flex justify-center"><i class="fas fa-caret-down text-3xl"></i> </div>

                {%if order.생산요청.생산계획.작업지시서.작업지시서등록.생산담당자 == user%}
                {%if orderfinalboolean%}
                {%else%}
                <div class="flex justify-end w-full">

                    <div class="">
                        <a href="{%url "producemanages:workupdate" order.생산요청.생산계획.작업지시서.작업지시서등록.pk %}">
                            <div class="btn-link w-32 bg-blue-800 ml-5 hover:font-bold">
                                공정진행수정 </div>
                        </a>
                    </div>
                    <div class="">
                        <a href="{%url "producemanages:workdeleteensure" order.pk %}">
                            <div class="btn-link w-32 bg-red-800 ml-5 hover:font-bold">
                                공정진행삭제 </div>
                        </a>
                    </div>
                </div>
                {%endif%}
                {%endif%}
            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">공정진행</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">생산일시</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">생산수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">특이사항</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">{{order.단품모델.모델명}}</th>
                        <td class="border px-4 py-2  ">
                            {%if order.생산요청.생산계획.작업지시서.작업지시서등록.생산일시 is None%}
                            {%else%}
                            {{order.생산요청.생산계획.작업지시서.작업지시서등록.생산일시.year}}-{{order.생산요청.생산계획.작업지시서.작업지시서등록.생산일시.month}}-{{order.생산요청.생산계획.작업지시서.작업지시서등록.생산일시.day}}{%endif%}
                        </td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.작업지시서.작업지시서등록.생산수량}}</td>
                        <td class="border px-4 py-2">
                            {%if order.생산요청.생산계획.작업지시서.작업지시서등록.특이사항 is None%}{%else%}{{order.생산요청.생산계획.작업지시서.작업지시서등록.특이사항}}{%endif%}
                        </td>

                    </tr>

                </tbody>
            </table>
            {%endif%}
            {%if orderfinalboolean%}
            <div class="w-full flex justify-center"><i class="fas fa-caret-down text-3xl"></i> </div>
            {%if order.생산요청.생산계획.작업지시서.작업지시서등록.생산담당자 == user%}
            {%if final%}
            {%else%}
            <div class="flex justify-between">
                <div class="px-2">
                    <i class="fas fa-angle-down mr-1"></i><span
                        class="font-medium  text-gray-700   text-sm hover:font-bold">최종검사의뢰</span>
                </div>
                <div class="flex flex-row">
                    <div class="">
                        <a href="{%url "producemanages:orderfinaldelete" order.pk %}">
                            <div class="btn-link w-32 bg-red-800 ml-5 hover:font-bold">
                                최종검사의뢰철회 </div>
                        </a>
                    </div>
                </div>
            </div>
            {%endif%}
            {%endif%}
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">최종검사의뢰완료</th>
                    </tr>
                </thead>
            </table>
            {%endif%}
        </div>
        {%endif%}
        {%if final%}
        <div class="flex flex-col w-full  mt-5">

            <div class="flex flex-col  w-full ">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">최종검사결과</div>
            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">최종검사코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">검시자</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">검시일</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">적합수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">부적합수량</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2 hover:font-bold">
                            <a
                                href="{%url "producemanages:finalcheckdetail" order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.pk %}">

                                {{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.최종검사코드}}</a></td>

                        <td class="border px-4 py-2">
                            {{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.검시자}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.검시일}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.적합수량}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.부적합수량}}</td>
                    </tr>

                </tbody>
            </table>
            {%if order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.수리내역서.all.get.pk %}
            <div class="w-full flex justify-center"><i class="fas fa-caret-down text-3xl"></i> </div>
            <div class="flex justify-between">
                <a href="#">
                    <div class="px-2">
                        <i class="fas fa-angle-down mr-1"></i><span
                            class="font-medium  text-gray-700   text-sm hover:font-bold">수리내역서</span>
                    </div>
                </a>
                {%if order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.수리내역서.all.get.작성자 ==  user%}
                {%if order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.수리내역서.all.get.finalcheckboolean == "수리완료"%}
                <div class="flex flex-row">

                    <div class=" w-full">
                        <a
                            href="{%url "producemanages:repairupdate" order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.수리내역서.all.get.pk %}">
                            <div class="btn-link w-32 bg-blue-800 ml-5 hover:font-bold">
                                수리내역서수정 </div>
                        </a>
                    </div>
                </div>
                {%endif%}
                {%endif%}
            </div>
            <table class="table-fixed font-light text-xs w-full -mt-6">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">작성자</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수리내용</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">실수리수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">폐기수량</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2 hover:font-bold">
                            <a
                                href="{%url "producemanages:repairdetail" order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.수리내역서.all.get.pk %}">{{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.수리내역서.all.get.작성자}}</a>
                        </td>.
                        <td class="border px-4 py-2">
                            {{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.수리내역서.all.get.수리내용}}</td>
                        <td class="border px-4 py-2">
                            {{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.수리내역서.all.get.실수리수량}}
                        </td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.수리내역서.all.get.폐기수량}}
                        </td>
                    </tr>

                </tbody>
            </table>


            {%endif%}


        </div>
        {%endif%}
        {%if order.leftsingle != no %}
        <div class="flex flex-col w-full  mt-12">

            <div class="flex flex-col  w-full border-black border-dashed pt-8   border-t">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">출하 요청 내역</div><span
                    class="text-red-700 text-xs -mt-2 mb-1">*출하요청철회시 바로 철회됩니다.</span>



            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">요청일</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">요청수량</th>

                        <th class="border bg-gray-200 px-4 py-2 w-24">수취인</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수취인주소</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">연락처</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">출하수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">제품명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24"></th>
                    </tr>
                </thead>

                <tbody>
                    {%for list in ordersingle%}
                    <tr>
                        <td class="border px-4 py-2">{%if list.출하요청일 is None%}
                            {%else%}
                            {{list.출하요청일.year}}-{{list.출하요청일.month}}-{{list.출하요청일.day}}{%endif%}</td>
                        <td class="border px-4 py-2">{{list.출하요청수량}}</td>
                        <td class="border px-4 py-2">{{list.수취인}}</td>
                        <td class="border px-4 py-2 overflow-x-auto">{{list.수취인주소}}</td>
                        <td class="border px-4 py-2">{{list.연락처}}</td>
                        <td class="border px-4 py-2">{{list.단품출하등록.출하수량}}</td>
                        {%if order.제품구분 == "단품"%}
                        <td class="border px-4 py-2">{{list.단품}}</td>
                        {%else%}
                        <td class="border px-4 py-2">{{list.랙}}</td>
                        {%endif%}
                        <td class="border px-4 py-2">
                            {%if obj_user == user%}
                            {%if list.unexport%}
                            <div class="flex justify-center flex-col items-center">
                                <a href="{%url "stocksingle:orderstocksingleedit" list.pk %} ">
                                    <div class="btn-link bg-teal-800 hover:font-bold mt-1 mb-0 ml-1 px-1 w-24">
                                        출하요청수정
                                    </div>
                                </a>
                                <a href="{%url "stocksingle:orderstocksingledelete" list.pk %}">
                                    <div class="btn-link bg-red-800 hover:font-bold mt-1 mb-0 ml-1 px-1 w-24">
                                        출하요청철회
                                    </div>
                                </a>
                            </div>
                            {%else%}
                            <span class="text-red-700">이미 출하완료되었습니다.</span>
                            <a href="{%url "stocksingle:ordersingleinregister" list.pk %}">
                                <div class="btn-link bg-red-800 hover:font-bold mt-1 mb-0 mx-5  px-0 w-auto">
                                    반품신청
                                </div>
                            </a>
                            {%endif%}
                            {%else%}
                            <span class="text-red-700">본인 수주가 아닙니다.</span>
                            {%endif%}
                        </td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>



        </div>
        {%endif%}




        {%if order.leftrack != no %}
        <div class="flex flex-col w-full  mt-12">

            <div class="flex flex-col  w-full border-black border-dashed pt-8   border-t">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">출하 요청 내역</div><span
                    class="text-red-700 text-xs -mt-2 mb-1">*출하요청철회시 바로 철회됩니다.</span>
            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">진행상태</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">요청일</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">요청수량</th>

                        <th class="border bg-gray-200 px-4 py-2 w-24">수취인</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수취인주소</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">연락처</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">출하수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">제품명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">영업담당자</th>

                        <th class="border bg-gray-200 px-4 py-2 w-24">생산담당자 </th>
                    </tr>
                </thead>

                <tbody>
                    {%for list in orderrack%}
                    <tr>
                        <td class="border px-4 py-2 font-bold">
                            {%if not list.unexport%}
                            <span class="text-green-700">

                                출하완료되었습니다.
                            </span>

                            {%elif list.랙조립%}
                            <span class="text-red-600">

                                {{list.랙조립.현재공정}}
                            </span>

                            {%else%}
                            조립 시작 전입니다.
                            {%endif%}
                        </td>
                        <td class="border px-4 py-2">{%if list.출하요청일 is None%}
                            {%else%}
                            {{list.출하요청일.year}}-{{list.출하요청일.month}}-{{list.출하요청일.day}}{%endif%}</td>
                        <td class="border px-4 py-2">{{list.출하요청수량}}</td>

                        <td class="border px-4 py-2">{{list.수취인}}</td>
                        <td class="border px-4 py-2 overflow-x-auto">{{list.수취인주소}}</td>
                        <td class="border px-4 py-2">{{list.연락처}}</td>
                        <td class="border px-4 py-2">{{list.랙출하등록.출하수량}}</td>
                        {%if order.제품구분 == "단품"%}
                        <td class="border px-4 py-2">{{list.단품}}</td>
                        {%else%}
                        <td class="border px-4 py-2">{{list.랙}}</td>
                        {%endif%}
                        <td class="border px-4 py-2 font-semibold">
                            {%if obj_user == user%}

                            {%if list.랙출하등록%}
                            <span class="text-red-700">이미 출하완료되었습니다.</span>
                            <a href="{%url "stockrack:ordersingledfrackinregister" list.pk %}">
                                <div class="btn-link bg-red-800 hover:font-bold mt-1 mb-0 mx-5  px-0 w-auto">
                                    부품반품신청
                                </div>
                            </a>
                            {%else%}
                            {%if list.랙조립%}
                            <span class="text-blue-700">조립중입니다.</span>
                            {%else%}
                            <div class="flex justify-center flex-col items-center">
                                <a href="{%url "stockrack:orderstockrackedit" list.pk %} ">
                                    <div class="btn-link bg-teal-800 hover:font-bold mt-1 mb-0 ml-1 w-24">
                                        출하요청수정
                                    </div>
                                </a>
                                <a href="{%url "stockrack:orderstockrackdelete" list.pk %}">
                                    <div class="btn-link bg-red-800 hover:font-bold mt-1 mb-0 ml-1 w-24">
                                        출하요청철회
                                    </div>
                            </div>
                            {%endif%}



                            {%endif%}
                            {%else%}
                            <span class="text-red-700">본인 수주가 아닙니다.</span>
                            {%endif%}
                        </td>
                        <td class="border px-4 py-2 font-semibold">
                            {%if list.랙조립%}
                            {% if list.랙조립.랙조립기사 == user %}

                            {%if list.랙출하등록%}
                            <span class="text-green-700">출하완료</span>

                            {%else%}
                            {%if list.랙조립%}

                            <div class="flex justify-center flex-col items-center w-full">
                                <a href="{%url "producemanages:rackmakeedit" list.랙조립.pk %} ">
                                    <div class="btn-link bg-teal-800 hover:font-bold  mt-1 mb-0">
                                        업데이트
                                    </div>
                                </a>
                                <a href="{%url "producemanages:rackmakedeleteensure" list.랙조립.pk %}">
                                    <div class="btn-link bg-red-800 hover:font-bold  mt-1 mb-0">
                                        랙조립취소
                                    </div>
                            </div>
                            {%endif%}



                            {%endif%}
                            {%else%}
                            <span class="text-red-700">조립기사만 확인가능</span>
                            {%endif%}
                            {%else%}
                            <a href="{%url "producemanages:rackmakeregister" list.pk %}">
                                <div class="btn-link hover:bg-blue-800 bg-teal-700 hover:font-bold mt-1 mb-0  w-full">
                                    랙조립등록
                                </div>
                            </a>
                            {%endif%}
                        </td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>


        </div>

        {%endif%}
        {%if order.backsingle != no %}
        <div class="flex flex-col w-full  my-5">

            <div class="flex flex-col  w-full border-black border-dashed  border-t">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2 mt-6">반품 요청 내역</div>



            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">요청일</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">요청수량</th>

                        <th class="border bg-gray-200 px-4 py-2 w-24">반품수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">제품명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24"></th>
                    </tr>
                </thead>

                <tbody>
                    {%for list in ordersingleback%}
                    <tr>
                        <td class="border px-4 py-2">{%if list.입고요청일 is None%}
                            {%else%}
                            {{list.입고요청일.year}}-{{list.입고요청일.month}}-{{list.입고요청일.day}}{%endif%}</td>
                        <td class="border px-4 py-2">{{list.입고요청수량}}</td>
                        <td class="border px-4 py-2">{{list.단품입고등록.입고수량}}</td>
                        <td class="border px-4 py-2">{{list.단품}}</td>
                        <td class="border px-4 py-2">
                            {%if obj_user == user%}
                            {%if list.unimport%}
                            <div class="flex justify-center flex-col items-center">

                                <a href="{%url "stocksingle:orderstocksinglebackdelete" list.pk %}">
                                    <div class="btn-link bg-red-800 hover:font-bold mt-1 mb-0 ml-3 w-40">
                                        반품요청철회
                                    </div>
                                </a>
                            </div>
                            {%else%}
                            <span class="text-red-700">이미 반품완료되었습니다.</span>
                            {%endif%}
                            {%else%}
                            <span class="text-red-700">본인 수주가 아닙니다.</span>
                            {%endif%}
                        </td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>



        </div>
        {%endif%}






    </div>
</div>