{%extends "base.html"%}
{%load static%}
{% block page_title%}
영업
{%endblock%}


{% block content %}
<div class="w-full bg-gray-400 h-10 items-center -mt-4 font-normal fixed justify-center text-sm py-2 pl-8 ">

    <div class="">Migrate</div>
</div>
<div class="flex pl-32">

    <div class="p-10">
        <a href="{%url "core:partnermigrate" %}">

            <div class="btn-link p-5">거래처 Excel Migrate</div>
        </a>
    </div>
    <div class="p-10">
        <a href="{%url "core:materialmigrate" %}">
            <div class="btn-link p-5">자재 Excel Migrate</div>
        </a>
    </div>
    <div class="p-10">
        <a href="{%url "core:measuremigrate" %}">
            <div class="btn-link p-5">계측기 Excel Migrate</div>
        </a>
    </div>
</div>
{%endblock content %}