commands:
  00_update_pip:
    command: "pip install --upgrade pip"
  01_delete_re:  
    command: "pip install -r requirements.txt"


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings