commands:
  00_update_pip:
    command: "sudo /opt/python/run/venv/bin/pip install --upgrade pip"
  01_update_pip:
    command: "sudo chmod 4755 /opt/python/current/app/mysite/wsgi.py"
  02_update_pip:
    command: "sudo chmod 4755 /opt/python/run/venv/local/lib/python3.6"
  03_update_pip:
    command: "sudo chmod 4755 /opt/python/current/app/mysite"
  04_update_pip:
    command: "sudo /opt/python setup.py install"
  05_update_pip:
    command: "sudo /opt/python/run/venv/bin/pip install mod_wsgi"

    

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings