commands:
  00_update_pip:
    command: "sudo /opt/python/run/venv/bin/pip install --upgrade pip"
    command: "sudo chmod a+x wsgi.py"
    command: "find /opt/python/run/venv/local/lib/python3.6/site-packages/django -name '*.py' -exec chmod 0644 {}"
    command: "find /opt/python/run/venv/local/lib/python3.6/site-packages/django -type d -exec chmod 0755 {}"


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings