{%extends "stockmanages/stockmanageshome.html"%}
{% load static%}
{% block page_title%}
자재입고목록
{%endblock%}


{%block head_title%}
</a><i class="fas fa-angle-right mx-1 text-base"></i> 자재입고목록{%endblock%}


{%block main_contens%}
<div class="flex flex-col">
    <div class="w-full h-full pl-32 -mt-6 font-semibold pt-12 flex flex-col">
        <div class="flex flex-col">
            <div class="flex flex-col p-6 w-full ">
                <div class="flex justify-between">
                    <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">나의 자재입고 목록
                    </span>
                    <div class="mr-5">
                        <a href="{%url "stockmanages:materialinrequestlist"%}">
                            <div class="btn-link bg-teal-800 hover:font-bold">
                                자재입고 </div>
                        </a>
                    </div>
                </div>
                <div class="w-64 border h-6 mb-2">

                    <form method="get" action="" class="w-full flex ">
                        <button class="w-4 h-4 mt-1 ml-1  rounded-xl bg-cover bg-center"
                            style="background-image:url({% static 'img/search.png' %});"></button>

                        <input name="search"
                            class="ml-1 w-full border-none search-box text-xs font-medium placeholder-red-400 focus: outline-none"
                            placeholder={{search}} />

                    </form>
                </div>
                <div class="flex ">
                    <div class="flew flex-col">
                        <table class="table-fixed font-light text-xs w-full">
                            <thead>
                                <tr>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">자재코드</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">자재품명</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">입고수량</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">입고요청수량</th>
                                    <th class="border bg-gray-200 px-2 py-2 w-24">입고유형</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">입고자</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">입고일</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">입고요청자</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">입고요청일</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">입고철회</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for list in queryset%}
                                <tr>
                                    <td class="border px-4 py-2 ">
                                        {{list.자재입고요청.자재.자재코드}}</td>
                                    <td class="border px-4 py-2">{{list.자재입고요청.자재.자재품명}}</td>
                                    <td class="border px-4 py-2">{{list.입고수량}}</td>
                                    <td class="border px-4 py-2 ">
                                        {{list.자재입고요청.입고요청수량}}</td>
                                    <td class="border px-4 py-2">{{list.입고유형}}</td>
                                    <td class="border px-4 py-2">{{list.입고자}}</td>
                                    <td class="border px-4 py-2">
                                        {{list.입고일.year}}-{{list.입고일.month}}-{{list.입고일.day}}</td>
                                    <td class="border px-4 py-2 ">
                                        {{list.자재입고요청.입고요청자}}</td>
                                    <td class="border px-4 py-2">
                                        {{list.자재입고요청.입고요청일.year}}-{{list.자재입고요청.입고요청일.month}}-{{list.자재입고요청.입고요청일.day}}
                                    </td>
                                    <td class="border px-4 py-2">
                                        <a href="{%url "stockmanages:materialindelete" list.pk%}">
                                            <div class="btn-link self-center -mb-1 w-full bg-red-700 hover:font-bold">
                                                입고철회</div>
                                        </a>
                                    </td>
                                </tr>
                                {%endfor%}

                            </tbody>
                        </table>

                        {%if nonpage%}
                        {%else%}
                        <div class="flex ml-2">
                            {% if page != '1' %}
                            {%if s_bool%}
                            <a href="?search={{search}}&page={{previouspage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-left fa-lg mt-2"></i></a>
                            {%else%}
                            <a href="?page={{previouspage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-left fa-lg mt-2"></i></a>
                            {% endif %}{% endif %}
                            <span class="mx-3 font-medium  text-base">{{page}} of
                                {{totalpage}}</span>

                            {% if notsamebool %}
                            {%if s_bool%}
                            <a href="?search={{search}}&page={{nextpage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-right fa-lg mt-2"></i></a>
                            {%else%}
                            <a href="?page={{nextpage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-right fa-lg mt-2"></i></a>
                            {% endif %}{% endif %}
                        </div>
                        {%endif%}
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{%endblock main_contens %}