{%extends "qualitycontrols/qualitycontrolshome.html"%}
{%load static%}
{% block page_title%}
AS총괄장 등록
{%endblock%}


{%block head_title%}
<i class="fas fa-angle-right text-base mx-1"></i>AS총괄장 등록</div>
{%endblock head_title %}


{%block main_contens%}
<div class="w-11/12 h-full ml-32 -mt-6 font-normal pt-12 flex flex-row">

    <div class="flex flex-col p-6 w-full ">
        <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">'{{ASrequest.수리요청코드}}'
            -AS총괄장 등록
        </span>

        <div class="flex ">

            <div class=" flex flex-col px-12 justify-center">



                <form method="POST" class="flex flex-col justify-center items-center" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class=" flex flex-col justify-center ">
                        <table class="table-fixed text-sm w-full mb-3">
                            <thead>
                                <tr>
                                    <th class="border border-r-0 bg-gray-400  py-2 w-40 text-right">
                                    </th>
                                    <th class="border border-r-0 border-l-0 bg-gray-400  py-2 w-56 text-right">
                                        {{ASrequest.수리요청코드}}
                                    </th>
                                    <th class="border border-r-0 border-l-0 bg-gray-400  py-2 w-40 text-left">의 수리요청
                                    </th>
                                    <th class="border border-l-0 bg-gray-400  py-2 w-56 text-left"></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="border px-4 py-2 bg-gray-200">수리요청코드</td>
                                    <td class="border px-4 py-2">{{ASrequest.수리요청코드}}</td>

                                    <td class="border px-4 py-2 bg-gray-200">AS현장방문</td>
                                    <td class="border px-4 py-2">{{ASrequest.AS현장방문}}</td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 bg-gray-200">신청자</td>
                                    <td class="border px-4 py-2">{{ASrequest.신청자}}</td>

                                    <td class="border px-4 py-2 bg-gray-200">신청품목</td>
                                    <td class="border px-4 py-2">{{ASrequest.신청품목}}</td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 bg-gray-200">고객성명</td>
                                    <td class="border px-4 py-2">{{ASrequest.고객성명}}</td>

                                    <td class="border px-4 py-2 bg-gray-200">고객주소</td>
                                    <td class="border px-4 py-2">{{ASrequest.고객주소}}</td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 bg-gray-200">고객전화</td>
                                    <td class="border px-4 py-2">{{ASrequest.고객전화}}</td>

                                    <td class="border px-4 py-2 bg-gray-200">고객팩스</td>
                                    <td class="border px-4 py-2">{{ASrequest.고객팩스}}</td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 bg-gray-200">AS의뢰내용</td>
                                    <td class="border px-4 py-2">{{ASrequest.AS의뢰내용}}</td>

                                    <td class="border px-4 py-2 bg-gray-200">시리얼번호</td>
                                    <td class="border px-4 py-2">{{ASrequest.시리얼번호}}</td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 bg-gray-200">사용자액세서리</td>
                                    <td class="border px-4 py-2">{{ASrequest.사용자액세서리}}</td>

                                    <td class="border px-4 py-2 bg-gray-200">택배관련</td>
                                    <td class="border px-4 py-2">{{ASrequest.택배관련}}</td>
                                </tr>
                                <tr>
                                    <td class="border px-4 py-2 bg-gray-200">신청수량</td>
                                    <td class="border px-4 py-2">{{ASrequest.신청수량}}</td>
                                    <td class="border px-4 py-2 bg-gray-200"></td>
                                    <td class="border px-4 py-2"></td>
                                </tr>

                            </tbody>
                        </table>
                        <table class="table-fixed text-sm w-full">
                            <thead>
                                <tr>
                                    <th class="border border-r-0 bg-gray-400 py-2   w-10 text-right"></th>
                                    <th class="border border-r-0 bg-gray-400 py-2   w-24 text-right">AS</th>
                                    <th class="border border-l-0 bg-gray-400  py-2 w-10 text-left">총괄장</th>
                                    <th class="border border-r-0 bg-gray-400 py-2   w-24 text-right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="border border-b-0 px-4 py-2 bg-gray-200 w-40">동작이상유무</td>
                                    <td class="border border-b-0 px-4 py-2 w-48">
                                        <div class="flex w-full">
                                            <ul id="id_POWERTRANS">
                                                <li><label for="id_동작이상유무_1"><input type="radio" name="동작이상유무"
                                                            value="의뢰내용과 같음" id="id_동작이상유무_1" onclick="hideinput();"
                                                            {% if 동작이상유무 == "의뢰내용과 같음" %} checked {% endif %}>
                                                        의뢰내용과 같음</label>
                                                </li>
                                                <li><label for="id_동작이상유무_2"><input type="radio" name="동작이상유무"
                                                            value="이상 없음" id="id_동작이상유무_2" onclick="hideinput();"
                                                            {% if 동작이상유무 == "이상 없음" %} checked {% endif %}>
                                                        이상 없음</label>
                                                </li>
                                                <li>
                                                    <label for="id_동작이상유무_3 "
                                                        class="flex flex-row justify-start items-center">
                                                        <input type="radio" name="동작이상유무" value="" id="id_동작이상유무_3"
                                                            onclick="showinput();" {% if 동작이상유무 == "이상 없음" %}
                                                            {%elif 동작이상유무 == "의뢰내용과 같음" %} {% else %} checked
                                                            {% endif %}>
                                                        <span class="w-10 ml-1">
                                                            기타
                                                        </span>
                                                        <input type="text" name="동작이상유무값" id="동작이상유무값"
                                                            class="border ml-2" placeholder="기타 내용을 입력하세요."
                                                            value={{동작이상유무}}>

                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="text-xs text-teal-700">
                                        </div>
                                    </td>
                                    <td class="border px-4 py-2 bg-gray-200 w-40 h-20">외형이상유무</td>

                                    <td class="border px-4 py-2 w-48">
                                        <div class="flex border hover:border-gray-500 w-full h-20">
                                            <textarea name="외형이상유무" class="h-full" cols="30"
                                                rows="10">{{외형이상유무}}</textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border  px-4 py-2 bg-gray-200 w-40"> 검사일</td>
                                    <td class="border  px-4 py-2 w-48">
                                        <div class="flex border hover:border-gray-500 w-full">
                                            <input type="text" name="검시일" size="10" id="date2" value={{검시일}}>
                                        </div>
                                    </td>
                                    <td class="border px-4 py-2 bg-gray-200 w-40">검사자</td>

                                    <td class="border px-4 py-2 w-48">
                                        <div class="flex border hover:border-gray-500 w-full">
                                            <input type="text" name="검시자" size="10" value={{검시자}}>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="border border-b-0 px-4 py-2 bg-gray-200 w-40">수리내역</td>
                                    <td class="border border-b-0 px-4 py-2 w-48">
                                        <div class="flex border hover:border-gray-500 w-full h-20">
                                            <textarea name="수리내역" class="h-full" cols="30" rows="10">{{수리내역}}</textarea>
                                        </div>
                                    </td>
                                    <td class="border px-4 py-2 bg-gray-200 w-40 h-20">특기사항</td>

                                    <td class="border px-4 py-2 w-48">
                                        <div class="flex border hover:border-gray-500 w-full h-20">
                                            <textarea name="특기사항" class="h-full" cols="30" rows="10">{{특기사항}}</textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border border-t-0 px-4 py-2 bg-gray-200 w-40"></td>
                                    <td class="border border-t-0 px-4 py-2 w-48"></td>
                                    <td class="border px-4 py-2 bg-gray-200 w-40">수리자</td>

                                    <td class="border px-4 py-2 w-48">
                                        <div class="flex border hover:border-gray-500 w-full">
                                            <input type="text" name="수리자" size="10" value={{수리자}}>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="border border-b-0 px-4 py-2 bg-gray-200 w-40">발송관련</td>
                                    <td class="border border-b-0 px-4 py-2 w-48">
                                        <div class="flex w-full">
                                            수리비 (
                                            <ul id="id_수리비" class="flex">
                                                <li><label for="id_수리비_1"><input type="radio" name="수리비" value="무상"
                                                            id="id_수리비_1" class="m-1" {% if 수리비 == "무상" %} checked
                                                            {% endif %}>
                                                        무상, </label>
                                                </li>
                                                <li><label for="id_수리비_2"><input type="radio" name="수리비" value="유상"
                                                            id="id_수리비_2" class="m-1" {% if 수리비 == "유상" %} checked
                                                            {% endif %}>
                                                        유상</label>
                                                </li>

                                            </ul>)
                                        </div>
                                        <div class="flex w-full mt-2">
                                            <span class=" w-32 ">

                                                기본요금( \
                                            </span>
                                            <input type="number" name="기본요금" id="기본요금" class="border m-1"
                                                value={{기본요금}}>
                                            <span class=" w-4 ">

                                                )
                                            </span>
                                        </div>
                                        <div class="flex w-full mt-2">
                                            <span class=" w-32 ">

                                                부 품 비 ( \
                                            </span>
                                            <input type="number" name="부품비" id="부품비" class="border m-1" value={{부품비}}>
                                            <span class=" w-4 ">

                                                )
                                            </span>
                                        </div>

                                    </td>
                                    <td class="border bg-gray-200 w-40 h-20">
                                        <table class="w-full h-full">
                                            <tbody>

                                                <tr class="  h-20">
                                                    <td class="border px-4 py-2">
                                                        택배
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="border px-4 py-2">
                                                        화물
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>

                                    </td>

                                    <td class="border w-48">
                                        <table class="w-full h-full">
                                            <tbody>
                                                <tr>
                                                    <td class="border px-4 py-2">
                                                        <ul id="id_POWERTRANS">
                                                            <li><label for="id_택배_1"><input type="radio" name="택배"
                                                                        value="선불" id="id_택배_1" {% if 택배 == "선불" %}
                                                                        checked {% endif %}>
                                                                    선불</label>
                                                            </li>
                                                            <li><label for="id_택배_2"><input type="radio" name="택배"
                                                                        value="신용" id="id_택배_2" {% if 택배 == "신용" %}
                                                                        checked {% endif %}>
                                                                    신용</label>
                                                            </li>
                                                            <li>
                                                                <label for="id_택배_3 "
                                                                    class="flex flex-row justify-start items-center">
                                                                    <input type="radio" name="택배" value="착불"
                                                                        id="id_택배_3" {% if 택배 == "착불" %} checked
                                                                        {% endif %}>
                                                                    <span class="w-10 ml-1">
                                                                        착불
                                                                    </span>

                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="border px-4 py-2">
                                                        <div class="flex border hover:border-gray-500 w-full">
                                                            <input name="화물" class="h-full w-full" cols="30" rows="10"
                                                                value={{화물}}>

                                                        </div>
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="border border-t-0 border-b-0 px-4 py-2 bg-gray-200 w-40"></td>
                                    <td
                                        class="border border-t-2 border-b-0  border-dotted border-gray-500 px-4 py-2 w-48">

                                        <div class="flex  hover:border-gray-500 flex">
                                            <span class=" w-32 ">

                                                합 계 : (\
                                            </span>

                                            <input type="text" id="result" value="" class="border m-1">)
                                        </div>

                                    </td>
                                    <td class="border px-4 py-2 bg-gray-200 w-40">발송날짜</td>

                                    <td class="border px-4 py-2 w-48">
                                        <div class="flex border hover:border-gray-500 w-full">
                                            <input type="text" name="발송날짜" size="10" id="date4" value={%if 발송날짜%}
                                                {{발송날짜.year}}-{{발송날짜.month}}-{{발송날짜.day}} {%endif%}>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="border border-t-0 px-4 py-2 bg-gray-200 w-40"></td>
                                    <td class="border border-t-0 w-48">
                                        <table class="w-full h-full">
                                            <tbody>
                                                <tr>
                                                    <td class="border  px-4 py-2 w-24">입금확인</td>
                                                    <td class="border  px-4 py-2 w-48">
                                                        <div class="flex border hover:border-gray-500 w-full">
                                                            <input type="text" name="입금확인" size="10" id="date3"
                                                                value={%if 입금확인%}
                                                                {{입금확인.year}}-{{입금확인.month}}-{{입금확인.day}} {%endif%}>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </td>
                                    <td class="border px-4 py-2 bg-gray-200 w-40">발송자</td>

                                    <td class="border px-4 py-2 w-48">
                                        <div class="flex border hover:border-gray-500 w-full">
                                            <input type="text" name="발송자" size="10" value={{발송자}}>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="border border-t-0 border-b-0 px-4 py-2 bg-gray-200 w-40">비고</td>
                                    <td class="border px-4 py-2 w-48">
                                        <div class="flex border hover:border-gray-500 w-full">
                                            <input type="text" name="비고" size="10" value={{비고}}>
                                        </div>
                                    </td>
                                    <td class="border border-t-0 border-b-0 px-4 py-2 bg-gray-200 w-40">최종검사코드</td>
                                    <td class="border px-4 py-2 w-48">
                                        <div class="flex border hover:border-gray-500 w-full">
                                            <input type="text" name="최종검사코드" size="10" value={{code}}{{최종검사코드}}>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <button class="btn-link felx mt-5 h-10 w-2/4">
                        <div class="text-sm forn-bold">AS총괄장 등록</div>
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    currentVal = $("#기본요금").val()
    currentVal2 = $("#부품비").val()
    var result = Number(currentVal) + Number(currentVal2)
    document.getElementById("result").value = result


    $("#동작이상유무값").hide();
    var radioVal = document.querySelector('input[name="동작이상유무"]:checked').id
    if (radioVal == "id_동작이상유무_3") {
        $("#동작이상유무값").show();
    }
    function showinput() {
        $("#동작이상유무값").slideDown(200);
    }
    function hideinput() {
        $("#동작이상유무값").slideUp(200);
    }


    $("#동작이상유무값").on("change keyup paste", function () {
        currentVal3 = $("#동작이상유무값").val();
        var oldVal = "-"
        if (currentVal3 == oldVal) {
            return;
        }
        oldVal = currentVal3;
        var radio_btn = document.getElementById("동작이상유무값");
        document.getElementById("id_동작이상유무_3").value = radio_btn.value;
        console.log(radio_btn.value)
    });

    currentVal = 0
    currentVal2 = 0

    $("#기본요금").on("change keyup paste", function first() {
        currentVal = $("#기본요금").val();
        var oldVal = "-"
        if (currentVal == oldVal) {
            return;
        }
        oldVal = currentVal;
        result = Number(currentVal) + Number(currentVal2)
        document.getElementById("result").value = result;

    });

    $("#부품비").on("change keyup paste", function () {
        currentVal2 = $("#부품비").val();
        var oldVal2 = "-"
        if (currentVal2 == oldVal2) {
            return;
        }
        oldVal2 = currentVal2;

        result = Number(currentVal) + Number(currentVal2)
        document.getElementById("result").value = result;

    });
</script>
{%endblock main_contens %}