{%extends "qualitycontrols/qualitycontrolshome.html"%}
{%load static%}
{% block page_title%}
수입검사수정
{%endblock%}


{%block head_title%}
<i class="fas fa-angle-right text-base mx-1"></i>수입검사수정</div>
{%endblock head_title %}


{%block main_contens%}
<div class="w-11/12 h-full ml-32 -mt-6 font-normal pt-12 flex flex-row">

    <div class="flex flex-col p-6 w-full ">
        <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">'{{materialcheck.수입검사코드}}'
            -수입검사 수정
        </span>

        <div class="flex ">

            <div class=" flex flex-col px-12 justify-center">



                <form method="POST" class="flex flex-col justify-center " enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="w-8/12 flex flex-col justify-center ">
                        <table class="table-fixed text-sm w-full">
                            <thead>
                                <tr>
                                    <th class="border border-r-0 bg-gray-400 py-2   w-16 text-right">수입</th>
                                    <th class="border border-l-0 bg-gray-400  py-2 w-24 text-left">검사수정</th>
                                </tr>
                            </thead>


                            <tbody>{% for field in form %}
                                <tr>
                                    <td class="border px-4 py-2 bg-gray-200 w-40">{{field.name}}</td>
                                    <td class="border px-4 py-2 w-48">
                                        <div class="
                                        border
                                         hover:border-gray-500  w-full
                                        
                                        ">
                                            {%if field.name == "검사지침서"%}
                                            <div class="flex w-full">
                                                <ul id="id_POWERTRANS">
                                                    <li><label for="id_검사지침서_1"><input type="radio" name="검사지침서"
                                                                value="CASE SHI-16-01" id="id_검사지침서_1"
                                                                onclick="hideinput();"
                                                                {% if 검사지침서 == "CASE SHI-16-01" %} checked {% endif %}>
                                                            CASE SHI-16-01</label>
                                                    </li>
                                                    <li><label for="id_검사지침서_1"><input type="radio" name="검사지침서"
                                                                value="PCB SHI 10-01" id="id_검사지침서_1"
                                                                onclick="hideinput();" {% if 검사지침서 == "PCB SHI 10-01" %}
                                                                checked {% endif %}>
                                                            PCB SHI 10-01</label>
                                                    </li>
                                                    <li><label for="id_검사지침서_1"><input type="radio" name="검사지침서"
                                                                value="트랜스 SHI 11-06" id="id_검사지침서_1"
                                                                onclick="hideinput();" {% if 검사지침서 == "트랜스 SHI 11-06" %}
                                                                checked {% endif %}>
                                                            트랜스 SHI 11-06</label>
                                                    </li>
                                                    <li><label for="id_검사지침서_2"><input type="radio" name="검사지침서"
                                                                value="사출 성형품 SHI 16-02" id="id_검사지침서_2"
                                                                onclick="hideinput();"
                                                                {% if 검사지침서 == "사출 성형품 SHI 16-02" %} checked
                                                                {% endif %}>
                                                            사출 성형품 SHI 16-02</label>
                                                    </li>
                                                    <li>
                                                        <label for="id_검사지침서_3 "
                                                            class="flex flex-row justify-start items-center">
                                                            <input type="radio" name="검사지침서" value="" id="id_검사지침서_3"
                                                                onclick="showinput();" {% if 검사지침서 == "이상 없음" %}
                                                                {%elif 검사지침서 == "의뢰내용과 같음" %} {% else %} checked
                                                                {% endif %}>
                                                            <span class="w-10 ml-1">
                                                                기타
                                                            </span>
                                                            <input type="text" name="검사지침서값" id="검사지침서값"
                                                                class="border ml-2" placeholder="기타 내용을 입력하세요."
                                                                value={{검사지침서}}>

                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            {%else%}
                                            {{field}}
                                            {%endif%}
                                        </div>
                                        <div class="text-xs text-teal-700">{{field.help_text}}
                                        </div>
                                        {% if field.errors %}
                                        {% for error in field.errors %}
                                        <div class="text-red-700 font-light text-xs">*{{error}}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {%endfor%}

                            </tbody>
                        </table>
                    </div>

                    <button class="btn-link felx mt-5 h-10 w-2/4   ml-20">
                        <div class="text-sm forn-bold">수입검사수정</div>
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    $("#검사지침서값").hide();
    var radioVal = document.querySelector('input[name="검사지침서"]:checked').id
    if (radioVal == "id_검사지침서_3") {
        $("#검사지침서값").show();
    }
    function showinput() {
        $("#검사지침서값").slideDown(200);
    }
    function hideinput() {
        $("#검사지침서값").slideUp(200);
    }


    $("#검사지침서값").on("change keyup paste", function () {
        currentVal3 = $("#검사지침서값").val();
        var oldVal = "-"
        if (currentVal3 == oldVal) {
            return;
        }
        oldVal = currentVal3;
        var radio_btn = document.getElementById("검사지침서값");
        document.getElementById("id_검사지침서_3").value = radio_btn.value;
        console.log(radio_btn.value)
    });
</script>
{%endblock main_contens %}