{%extends "qualitycontrols/qualitycontrolshome.html"%}
{% load static%}
{% block page_title%}
계측기점검상세
{%endblock%}


{%block head_title%}
<i class="fas fa-angle-right text-base mx-1"></i>
<span class="text-gray-700">
    계측기점검({{measurecheck.계측기.계측기코드}}) 상세보기
    {%endblock head_title %}


    {%block main_contens%}

    <div class="w-11/12 h-full ml-32 -mt-6 pt-12 flex flex-row">

        <div class="p-6 flex flex-col w-full">
            <div class="flex flex-col w-full">
                <div class="flex flex-row justify-between w-full ">
                    <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">
                        계측기점검 : {{measurecheck.계측기.계측기코드}} - 상세보기
                    </div>
                    {%if measurecheck.점검자 == user%}

                    <div class="flex">
                        <div class=" w-full">
                            <a href="#">
                                <div class="btn-link w-40 bg-blue-800 ml-5 hover:font-bold">
                                    <a href="{%url "qualitycontrols:measurecheckedit" measurecheck.pk %}">

                                        계측기점검수정
                                    </a>
                                </div>
                            </a>
                        </div>
                        <div class="">
                            <a href="{%url "qualitycontrols:measurecheckdeleteensure" measurecheck.pk %}">
                                <div class="btn-link w-40 bg-red-800 ml-5 hover:font-bold">
                                    계측기점검삭제 </div>
                            </a>
                        </div>
                    </div>
                    {%endif%}


                </div>
                <div class="flex ">
                    <table class="table-fixed text-sm">
                        <thead>
                            <tr>
                                <th class="border border-r-0 bg-gray-400  py-2 w-40 text-right">
                                    {{measurecheck.계측기.계측기코드}}
                                </th>
                                <th class="border border-l-0 bg-gray-400  py-2 w-56 text-left">의 계측기점검</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border px-4 py-2 bg-gray-200">계측기</td>
                                <td class="border px-4 py-2 hover:font-bold"><a
                                        href="{%url "qualitycontrols:measuredetail" measurecheck.계측기.pk%}">
                                        {{measurecheck.계측기.계측기코드}}</a></td>
                                </td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2 bg-gray-200">점검자</td>
                                <td class="border px-4 py-2">{{measurecheck.점검자}}</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2 bg-gray-200">점검일</td>
                                <td class="border px-4 py-2">{{measurecheck.점검일}}</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2 bg-gray-200">점검내용</td>
                                <td class="border px-4 py-2">{{measurecheck.점검내용}}</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2 bg-gray-200">특이사항</td>
                                <td class="border px-4 py-2">{{measurecheck.특이사항}}</td>
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>


        </div>
        {%endblock main_contens %}