{% load static%}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'img/site.webmanifest'%}">
    <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg'%}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/mystyles.css'%}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>

    </style>

    <title>{%block page_title%}기본 {%endblock page_title %} | 삼형전자MES
    </title>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="./jquery-ui-1.12.1/datepicker-ko.js"></script>
    <script type="text/javascript">
        (function (factory) {
            if (typeof define === "function" && define.amd) {
                define(["../widgets/datepicker"], factory);
            } else {
                factory(jQuery.datepicker);
            }
        }(function (datepicker) {
            datepicker.regional.ko = {
                closeText: "닫기",
                prevText: "이전달",
                nextText: "다음달",
                currentText: "오늘",
                monthNames: ["1월", "2월", "3월", "4월", "5월", "6월",
                    "7월", "8월", "9월", "10월", "11월", "12월"],
                monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월",
                    "7월", "8월", "9월", "10월", "11월", "12월"],
                dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
                dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
                dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
                weekHeader: "주",
                dateFormat: "yy-m-d",
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: "년"
            };
            datepicker.setDefaults(datepicker.regional.ko);
            return datepicker.regional.ko;
        }));
        $(function () {
            $("#date0").datepicker({
                showOn: "button",
                buttonImage: "{% static 'img/btn_date.png'%}",
                buttonImageOnly: true,
            }); $.datepicker.setDefaults($.datepicker.regional['ko']);         //default셋팅
            $("#txt_prodStart").datepicker();
            $('img.ui-datepicker-trigger').css({ 'margin-top': '5px', 'height': '20px', "cursor": "pointer" });  //아이콘(icon) 위치
            $('img.ui-datepicker-trigger').attr('align', 'absmiddle');
            $('#date0').datepicker('setDate', 'today');
        });
        $(function () {
            $("#date1").datepicker({
                showOn: "button",
                buttonImage: "{% static 'img/btn_date.png'%}",
                buttonImageOnly: true,
            }); $.datepicker.setDefaults($.datepicker.regional['ko']);         //default셋팅
            $("#txt_prodStart").datepicker();
            $('img.ui-datepicker-trigger').css({ 'margin-top': '5px', 'height': '20px', "cursor": "pointer" });  //아이콘(icon) 위치
            $('img.ui-datepicker-trigger').attr('align', 'absmiddle');
            $('#date1').datepicker('setDate', 'today');
        });

        $(function () {
            $("#date2").datepicker({
                showOn: "button",
                buttonImage: "{% static 'img/btn_date.png'%}",
                buttonImageOnly: true,
            }); $.datepicker.setDefaults($.datepicker.regional['ko']);         //default셋팅
            $("#txt_prodStart").datepicker();
            $('img.ui-datepicker-trigger').css({ 'margin-right': '5px', 'height': '18px', "cursor": "pointer" });  //아이콘(icon) 위치
            $('img.ui-datepicker-trigger').attr('align', 'absmiddle');
            $('#date2').datepicker('setDate', 'today');
        });
        $(function () {
            $("#date3").datepicker({
                showOn: "button",
                buttonImage: "{% static 'img/btn_date.png'%}",
                buttonImageOnly: true,
            }); $.datepicker.setDefaults($.datepicker.regional['ko']);         //default셋팅
            $("#txt_prodStart").datepicker();
            $('img.ui-datepicker-trigger').css({ 'margin-right': '5px', 'height': '18px', "cursor": "pointer" });  //아이콘(icon) 위치
            $('img.ui-datepicker-trigger').attr('align', 'absmiddle');
        });
        $(function () {
            $("#date4").datepicker({
                showOn: "button",
                buttonImage: "{% static 'img/btn_date.png'%}",
                buttonImageOnly: true,
            }); $.datepicker.setDefaults($.datepicker.regional['ko']);         //default셋팅
            $("#txt_prodStart").datepicker();
            $('img.ui-datepicker-trigger').css({ 'margin-right': '5px', 'height': '18px', "cursor": "pointer" });  //아이콘(icon) 위치
            $('img.ui-datepicker-trigger').attr('align', 'absmiddle');
        });
    </script>



</head>

<body class="text-gray-800 mt-24 font-light">


    {% include "partials/messages.html"%}
    <header
        class="container bg-gray-200 max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b-2 border-gray-400 fixed bg-white">
        <div class="flex items-center w-1/3">
            <a href="{% url "core:home"%}"><img class=" h-12" src="{% static 'img/logo.png'%}" /></a>

        </div>

        {% include "partials/navigation.html"%}
    </header>
    {% if user.pk %}
    <div class="w-full bg-gray-400 h-10 items-center -mt-4 font-normal fixed justify-center text-sm py-2 pl-8 ">
        <a class="hover:font-bold" href="{% url "core:home"%}">
            <div class="">
                <script>
                    var name = "{{user.nowPart.부서명}}"
                    var result = name.replace("부", "")
                    document.write(result)
                </script>
        </a>{%block head_title%} {%endblock head_title %}</div>
    </div>
    {%endif%}

    {% if user.nowPart.pk == 1 or user.nowPart.pk == 61%}
    <div class="flex">
        <div class="w-32 mx-auto h-10/12 fixed items-center font-semibold justify-center pt-5 bg-gray-700 mt-6">
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>수주관리
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{%url "orders:orderregister"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>수주등록</span></a></div>
                    <div>
                        <a href="{%url "orders:orderproduce"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>단품생산의뢰</span></a></div>
                    <div>
                        <a href="{%url "orders:orderproduceforrack"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>랙생산의뢰</span></a></div>
                    <div>
                        <a href="{%url "orders:endorder"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>출하완료등록</span></a></div>
                </div>
            </div>
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>출하관리
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{%url "stocksingle:ordersingleout"%}">
                            <span class=" font-light text-xs text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>단품출하요청</span></a></div>
                    <div>
                        <a href="{%url "stockrack:orderrackout"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>랙출하요청</span></a></div>
                </div>
            </div>
            <div class="font-base text-sm text-left text-orange-100 py-px mb-4">
                <i class="fas fa-bars mr-2 ml-3"></i>기준정보
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4">
                    <div>
                        <a href="{%url "StandardInformation:partner"%}">
                            <span class=" font-light text-xs text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>거래처</span></a></div>
                    <div>
                        <a href="{%url "StandardInformation:single"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>단품제품</span></a></div>
                    <div>
                        <a href="{%url "StandardInformation:rack"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>랙제품</span></a></div>
                </div>
            </div>

        </div>
    </div>
    {%elif user.nowPart.pk == 2 or user.nowPart.pk == 62%}
    <div class="flex">
        <div class="w-32 mx-auto h-10/12 fixed items-center font-semibold justify-center pt-5 bg-gray-700 mt-6">
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>생산관리
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "producemanages:produceplanlist"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>생산계획등록</span></a></div>
                    <div>
                        <a href="{% url "producemanages:rackmakelist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>랙조립관리</span></a></div>
                    <div>
                        <a href="{% url "producemanages:monthlyplanlist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i></i>월별생산계획관리</span></a></div>

                </div>
            </div>
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>자재출고관리
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "qualitycontrols:materialoutrequest"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>자재출고요청</span></a></div>
                    <div>
                        <a href="{% url "qualitycontrols:managematerialoutrequest"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>자재출고확인</span></a></div>

                </div>
            </div>


        </div>

    </div>
    {%elif user.nowPart.pk == 3 or user.nowPart.pk == 63%}
    <div class="flex">
        <div class="w-32 mx-auto h-10/12 fixed items-center font-semibold justify-center pt-5 bg-gray-700 mt-6">
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i><a href="{% url "producemanages:producehome"%}">공정진행</a>
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "producemanages:worklist"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>공정진행등록</span></a></div>
                    <div>
                        <a href="{% url "producemanages:workdonelist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>최종검사의뢰</span></a></div>
                    <div>
                        <a href="{% url "producemanages:checkdonelist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>최종검사확인</span></a></div>

                </div>
            </div>
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i><a href="{% url "producemanages:producehome"%}">수리</a>
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "producemanages:finalchecklist"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>수리등록:최종검사</span></a></div>

                    <div>
                        <a href="{% url "producemanages:repairlist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>수리완료목록</span></a></div>
                    <div>
                        <a href="{% url "producemanages:workdonelist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>최종검사의뢰</span></a></div>
                    <div>
                        <a href="{% url "producemanages:checkdonelist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>최종검사확인</span></a></div>

                </div>
            </div>
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>자재출고관리
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "qualitycontrols:materialoutrequest"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>자재출고요청</span></a></div>
                    <div>
                        <a href="{% url "qualitycontrols:managematerialoutrequest"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>자재출고확인</span></a></div>

                </div>
            </div>

        </div>
    </div>
    {%elif user.nowPart.pk == 4 or user.nowPart.pk == 64%}

    <div class="flex">
        <div class="w-32 mx-auto h-10/12 fixed items-center font-semibold justify-center pt-5 bg-gray-700 mt-6">
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>최종검사
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "qualitycontrols:finalchecklist"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>최종검사결과등록 </span></a></div>
                    <div>
                        <a href="{% url "qualitycontrols:finalcheckdonelist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>최종검사완료목록</span></a></div>

                </div>
            </div>
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>수입검사
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "qualitycontrols:materialchecklist"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>수입검사등록</span></a></div>
                    <div>
                        <a href="{% url "qualitycontrols:lowmateriallist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>자재부적합등록</span></a></div>
                    <div>
                        <a href="{% url "qualitycontrols:materialcheckalllist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>수입검사완료목록</span></a></div>

                </div>
            </div>
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>계측기관리
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "qualitycontrols:checkmeasurelist"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>계측기점검</span></a></div>
                    <div>
                        <a href="{% url "qualitycontrols:repairmeasurelist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>계측기수리</span></a></div>
                    <div>
                        <a href="{% url "qualitycontrols:measurelist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>계측기정보</span></a></div>

                </div>
            </div>
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>자재출고관리
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "qualitycontrols:materialoutrequest"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>자재출고요청</span></a></div>
                    <div>
                        <a href="{% url "qualitycontrols:managematerialoutrequest"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>자재출고확인</span></a></div>

                </div>
            </div>




        </div>

    </div>


    {%elif user.nowPart.pk == 5 or user.nowPart.pk == 65 or user.nowPart.pk == 6 or user.nowPart.pk == 66%}

    <div class="flex">
        <div class="w-32 mx-auto h-10/12 fixed items-center font-semibold justify-center pt-5 bg-gray-700 mt-6">

            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i><a href="{% url "afterservices:afterserviceshome"%}">AS담당부</a>
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "afterservices:ASregister"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>AS접수</span></a></div>
                    <div>
                        <a href="{% url "afterservices:ASvisitneedlist"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>AS현장방문</span></a></div>
                    <div>
                        <a href="{% url "afterservices:ASrepairorderalllist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>단품수리의뢰</span></a></div>
                    <div>
                        <a href="{% url "afterservices:ASsingleoutalllist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>단품출하요청</span></a></div>
                    <div>
                        <a href="{% url "afterservices:ASrevisitneedlist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>AS현장재방문</span></a></div>
                    <div>
                        <a href="{% url "afterservices:AScashcheckneedlist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>AS견적진행</span></a></div>
                    <div>
                        <a href="{% url "afterservices:ASsuccesslist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>AS완료등록</span></a></div>

                </div>
            </div>


        </div>
    </div>
    {%elif user.nowPart.pk == 7 or user.nowPart.pk == 67%}
    <div class="flex">
        <div class="w-32 mx-auto h-10/12 fixed items-center font-semibold justify-center pt-5 bg-gray-700 mt-6">

            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>단품관리
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "stockmanages:singleinlist"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>입고관리</span></a></div>
                    <div>
                        <a href="{% url "stockmanages:singleoutlist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>출하관리</span></a></div>
                    <div>
                        <a href="{% url "stockmanages:stockofsinglelist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>재고확인</span></a></div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>랙관리
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "stockmanages:rackoutlist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>출하관리</span></a></div>
                    <div>
                        <a href="{% url "stockmanages:stockofracklist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>재고확인</span></a></div>
                    <div>
                    </div>
                </div>


            </div>
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>자재관리
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "stockmanages:materialchecklist"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>수입검사요청</span></a></div>
                    <div>
                        <a href="{% url "stockmanages:materialinlist"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>입고관리</span></a></div>
                    <div>
                        <a href="{% url "stockmanages:materialoutlist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>출고관리</span></a></div>
                    <div>
                        <a href="{% url "stockmanages:stockofmateriallist"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>재고확인</span></a></div>

                </div>
            </div>
            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>기준정보
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "stockmanages:materialStandarInformation"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>자재기준정보</span></a></div>
                    <div>
                        <a href="{% url "stockmanages:singleStandarInformation"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>단품기준정보</span></a></div>
                    <div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    {%elif user.nowPart.pk == 8 or user.nowPart.pk == 68%}
    <div class="flex">
        <div class="w-32 mx-auto h-10/12 fixed items-center font-semibold justify-center pt-5 bg-gray-700 mt-6">

            <div class="font-base text-sm text-left text-orange-100 py-px">
                <i class="fas fa-bars mr-2 ml-3"></i>수주건수
                <div class="border-t h-px w-10/12 self-center mx-auto py-px "></div>
                <div class="text-left ml-4 mb-4">
                    <div>
                        <a href="{% url "core:totalorder"%}">
                            <span class=" font-light text-xs text-orange-100 hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>전체</span></a></div>
                    <div>
                        <a href="{% url "core:orderbar"%}">
                            <span class=" font-light text-xs justify-center text-orange-100  hover:font-bold">
                                <i class="fas fa-angle-right mr-1"></i>영업담당자별</span></a></div>

                </div>
            </div>
            <div class="font-base text-xs text-left text-orange-100 py-px">
                <a href="{% url "core:outcount"%}"><i class="fas fa-bars mr-2 ml-3"></i>출하수량</a>
            </div>
            <div class="font-base text-xs text-left text-orange-100 py-px">
                <a href="{% url "core:productbar"%}"><i class="fas fa-bars mr-2 ml-3"></i>제품별생산수량</a>
            </div>
            <div class="font-base text-xs text-left text-orange-100 py-px">
                <a href="{% url "core:lastchecknum"%}"><i class="fas fa-bars mr-2 ml-3"></i>최종검사수량</a>
            </div>
            <div class="font-base text-xs text-left text-orange-100 py-px">
                <a href="{% url "core:incheck"%}"><i class="fas fa-bars mr-2 ml-3"></i>수입검사수량</a>
            </div>

            <div class="font-base text-xs text-left text-orange-100 py-px mb-5">
                <a href="{% url "core:asconduct"%}"><i class="fas fa-bars mr-2 ml-3"></i>AS처리건수</a>
            </div>
        </div>
    </div>
    {% endif %}



    {% block content %}
    {% endblock %}


</body>

{% include "partials/footer.html"%}

</html>