{%extends "afterservices/afterserviceshome.html"%}
{%load static%}
{% block page_title%}
AS수정
{%endblock%}


{%block head_title%}
<i class="fas fa-angle-right mx-1 text-base"></i>AS수정<i class="fas fa-angle-right text-base mx-1"></i>
<a href="{%url "afterservices:ASregister"%}" class="hover:font-bold">

    AS수정
</a>
{%endblock head_title %}


{%block main_contens%}
<div class="w-11/12 h-full ml-32 -mt-6 font-normal pt-12 flex flex-row">

    <div class="flex flex-col p-6 w-full ">
        <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">AS접수 수정 </span>


        <div class="flex w-7/12">

            <div class=" flex flex-col px-12 justify-center items-center">

                <form method="POST" class="w-full flex flex-col justify-center" enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="w-full justify-center flex flex-col">


                        <table class="table-fixed text-sm w-full">
                            <thead>
                                <tr>
                                    <th class="border border-r-0 bg-gray-200 px-4 py-2 w-32"></th>
                                    <th class="border border-l-0 bg-gray-200 px-4 py-2 w-56 text-left">AS접수</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in form %}
                                <tr>
                                    <td class="border border-gray-400 px-4 py-2">
                                        {{field.name}}
                                    </td>
                                    <td class="border border-gray-400 px-4 py-2">
                                        {% if field.name == "불량분류" %}

                                        <div class="flex w-full">
                                            <ul id="id_POWERTRANS">
                                                <li><label for="id_불량분류_1"><input type="radio" name="불량분류"
                                                            value="사용법미숙지" id="id_불량분류_1" onclick="hideinput();"
                                                            {% if field.value == "사용법미숙지" %} checked {% endif %}>

                                                        사용법미숙지</label>
                                                </li>
                                                <li><label for="id_불량분류_2"><input type="radio" name="불량분류"
                                                            value="랙구성케이블오류" id="id_불량분류_2" onclick="hideinput();"
                                                            {% if field.value == "랙구성케이블오류" %} checked {% endif %}>
                                                        랙구성케이블오류</label>
                                                </li>
                                                <li><label for="id_불량분류_4"><input type="radio" name="불량분류" value="단품불량"
                                                            id="id_불량분류_4" onclick="hideinput();"
                                                            {% if field.value == "단품불량" %} checked {% endif %}>
                                                        단품불량</label>
                                                </li>
                                                <li>
                                                    <label for="id_불량분류_3 "
                                                        class="flex flex-row justify-start items-center">
                                                        <input type="radio" name="불량분류" value="" id="id_불량분류_3"
                                                            onclick="showinput();"
                                                            {% if field.value == "단품불량"%}{%elif field.value == "사용법미숙지" %}{%elif field.value == "랙구성케이블오류" %}
                                                            {%else%} checked {% endif %}>
                                                        <span class="w-10 ml-1">
                                                            기타
                                                        </span>
                                                        <input type="text" name="불량분류값" id="불량분류값" class="border ml-2"
                                                            placeholder="기타 내용을 입력하세요." value="{{field.value}}">

                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        {%else%}

                                        <div
                                            class=" flex {%if field.name not in seletelist %} border hover:border-gray-500 w-full {%endif%} ">
                                            {% if field.name == "접수일" %}

                                            <input type="text" name="접수일" id="date3" size="10"
                                                value={{field.value.year}}-{{field.value.month}}-{{field.value.day}} />
                                            {%elif field.name == "방문요청일"%}
                                            <input type="text" name="방문요청일" id="date4" size="10" {%if field.value %}
                                                value={{field.value.year}}-{{field.value.month}}-{{field.value.day}}
                                                {%endif%} />
                                            {% else %}
                                            {{field}}
                                            {% endif %}</div>
                                        <div class="text-xs text-green-700 ">

                                            {{field.help_text}}
                                        </div>
                                        {% if field.errors %}
                                        {% for error in field.errors %}
                                        <div class="text-red-700 font-light text-xs">*{{error}}</div>
                                        {% endfor %}
                                        {% endif %}
                                        {% endif %}

                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div class=" flex flex-row justify-around -mx-12">
                        <button onclick="go();"
                            class="btn-link bg-blue-800 text-white w-9/12 h-12 self-center my-3 pt-0 pb-1">
                            <div class="text-base font-medium">수정하기</div>
                        </button> </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>
<script>
    $("#불량분류값").hide();
    var radioVal = document.querySelector('input[name="불량분류"]:checked').id
    if (radioVal == "id_불량분류_3") {
        $("#불량분류값").show();
    }
    function showinput() {
        $("#불량분류값").slideDown(200);
    }
    function hideinput() {
        $("#불량분류값").slideUp(200);
    }
    function go() {
        currentVal3 = $("#불량분류값").val();
        var oldVal = "-"
        if (currentVal3 == oldVal) {
            return;
        }
        oldVal = currentVal3;
        var radio_btn = document.getElementById("불량분류값");
        document.getElementById("id_불량분류_3").value = radio_btn.value;
        console.log(radio_btn.value)
    };
</script>
{%endblock main_contens %}