{%extends "afterservices/afterserviceshome.html"%}
{% load static%}
{% block page_title%}
AS접수 상세보기
{%endblock%}


{%block head_title%}
</a><i class="fas fa-angle-right mx-1 text-base"></i>AS접수 상세보기<i class="fas fa-angle-right text-base mx-1"></i>
{{asregister.접수번호}}</span>
{%endblock head_title %}


{%block main_contens%}

<div class="w-11/12 h-full ml-32 -mt-6 pt-12 flex flex-row">

    <div class="p-6 flex flex-col w-full">
        <div class="flex flex-col w-full">
            <div class="flex flex-row justify-between w-full ">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">
                    {%if asregister.process != "AS접수완료"%}<i class="fas fa-angle-double-down text-lg"></i> {%endif%}AS접수
                    정보 - {{asregister.접수번호}} <div class="text-indigo-700">"{{asregister.process}}"

                        {% if asregister.인계후 %}

                        // {{asregister.인계후}}
                        {% endif %}

                    </div>
                </div>

                <div class="flex flex-row">
                    {%if asregister.process == "AS담당부 인계완료"%}
                    {%if asregister.인계후 != ""%}
                    <div class="mt-2">
                        <a href="{%url "afterservices:ASconduct" asregister.AS현장방문요청.pk %}">
                            <div class="btn-link bg-blue-700 ml-5 hover:font-bold">
                                AS재처리
                            </div>
                        </a>
                    </div>
                    {%endif%}
                    {%endif%}

                    <div class="mt-2">
                        <a href="{%url "afterservices:ASRegistersedit" asregister.pk%}">
                            <div class="btn-link bg-teal-800 ml-5 hover:font-bold">
                                접수 수정 </div>
                        </a>
                    </div>
                    {%if asregister.process == "AS접수완료"%}
                    <div class="mt-2">
                        <a href="{%url "afterservices:ASRegisterdeleteensure" asregister.pk %}">
                            <div class="btn-link  bg-red-800 ml-5 hover:font-bold">
                                접수 삭제 </div>
                        </a>
                    </div>
                    {%endif%}
                </div>
            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-12">접수번호</th>
                        <th class="border bg-gray-200 px-4 py-2 w-12">현상</th>
                        <th class="border bg-gray-200 px-2 py-2 w-12">불량분류코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-12">불량분류</th>
                        <th class="border bg-gray-200 px-4 py-2 w-12">처리유형</th>
                        <th class="border bg-gray-200 px-4 py-2 w-12">의뢰처</th>
                        <th class="border bg-gray-200 px-4 py-2 w-12">제품코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-12">제품명</th>
                        <th class="border bg-gray-200 px-2 py-2 w-12">현장명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-12">접수일</th>
                        <th class="border bg-gray-200 px-4 py-2 w-12">방문요청일</th>
                        <th class="border bg-gray-200 px-4 py-2 w-8">비용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2 hover:text-blue-700 hover:font-bold">
                            <a href="{%url "afterservices:ASrequestdetail" asregister.pk%}">
                                {{asregister.접수번호}}</a></td>
                        <td class="border px-4 py-2">{{asregister.현상}}</td>
                        <td class="border px-4 py-2">{{asregister.불량분류코드}}</td>
                        <td class="border px-4 py-2">{{asregister.불량분류}}</td>
                        <td class="border px-4 py-2">{{asregister.인계후}}</td>
                        <td class="border px-4 py-2">{{asregister.의뢰처}}</td>
                        {%if asregister.접수제품분류 == "단품"%}
                        <td class="border px-4 py-2">{{asregister.단품.모델코드}}</td>
                        <td class="border px-4 py-2">{{asregister.단품.모델명}}</td>
                        {%else%}
                        <td class="border px-4 py-2">{{asregister.랙.랙시리얼코드}}</td>
                        <td class="border px-4 py-2">{{asregister.랙.랙모델명}}</td>
                        {%endif%}
                        <td class="border px-4 py-2">{{asregister.현장명}}</td>
                        <td class="border px-4 py-2">
                            {{asregister.접수일.year}}-{{asregister.접수일.month}}-{{asregister.접수일.day}}</td>
                        <td class="border px-4 py-2">
                            {%if asregister.방문요청일 is None%}
                            {%else%}
                            {{asregister.방문요청일.year}}-{{asregister.방문요청일.month}}-{{asregister.방문요청일.day}}{%endif%}
                        </td>
                        <td class="border px-4 py-2">{{asregister.비용}}</td>
                    </tr>

                </tbody>
            </table>


        </div>

        {%if asregister.AS현장방문요청%}
        <div class="flex flex-col w-full mt-5">
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-400 px-4 py-2 w-24">AS담당자 인계완료</th>
                    </tr>
                </thead>
            </table>
        </div>
        {%endif%}


        {%if asregister.AS현장방문요청.AS현장방문%}
        <div class="flex flex-col w-full  mt-5">
            <div class="flex flex-row justify-between w-full ">
                <div class=" border-b w-64 mb-10 font-semibold border-gray-600 pb-2">
                    {%if asregister.process != "현장방문완료"%}<i class="fas fa-angle-double-down text-lg"></i>
                    {%endif%}현장방문 정보
                    <div class="text-xs font-semibold text-gray-700">
                        {%if asregister.AS현장방문요청.AS현장방문.repair_count != 0 %}
                        "현재 {{asregister.AS현장방문요청.AS현장방문.repair_count}}건의 수리의뢰가 있습니다."
                        {%endif%}</div>
                </div>

                {%if asregister.AS현장방문요청.AS현장방문.수리기사 == user%}
                <div class="flex justify-end ">
                    <div class="flex flex-row">
                        <div class="">
                            <a href="{%url "afterservices:ASvisitedit" asregister.AS현장방문요청.AS현장방문.pk%}">
                                <div class="btn-link bg-teal-800 hover:font-bold">
                                    현장방문수정 </div>
                            </a>
                        </div>
                        {%if asregister.process == "현장방문완료"%}
                        <div class="">
                            <a href="{%url "afterservices:ASvisitdeleteensure" asregister.AS현장방문요청.AS현장방문.pk %}">
                                <div class="btn-link  bg-red-800 ml-5 hover:font-bold">
                                    현장방문삭제 </div>
                            </a>
                        </div>
                        {%endif%}
                    </div>
                </div>
                {%endif%}
            </div>

            <table class="table-fixed font-light text-xs w-full -mt-6">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">AS방법</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">AS처리내역</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">재방문여부</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">모델코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">모델명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">특이사항</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">처리기사</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">처리회사</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">입력자</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">AS날짜</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">하자파일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.AS방법}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.AS처리내역}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.재방문여부}}</td>
                        {%if asregister.AS현장방문요청.AS현장방문.접수제품분류 == "단품"%}
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.단품.모델코드}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.단품.모델명}}</td>
                        {%else%}
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.랙.랙시리얼코드}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.랙.랙모델명}}</td>
                        {%endif%}
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.특이사항}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.처리기사}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.처리회사}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.수리기사}}</td>
                        <td class="border px-4 py-2">
                            {{asregister.AS현장방문요청.AS현장방문.AS날짜.year}}-{{asregister.AS현장방문요청.AS현장방문.AS날짜.month}}-{{asregister.AS현장방문요청.AS현장방문.AS날짜.day}}
                        </td>
                        <td class="border px-4 py-2 underline hover:text-indigo-700 hover:font-bold overflow-x-auto">
                            <a href="{%url "afterservices:baddownload" asregister.AS현장방문요청.AS현장방문.pk %}">
                                <script>
                                    var test = "{{asregister.AS현장방문요청.AS현장방문.하자파일}}";
                                    var result = test.replace('bad/', '');
                                    document.write(result);
                                </script>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        {%endif%}
        {%if asregister.AS현장방문요청.AS현장방문.AS재방문%}
        <div class="flex flex-col w-full  mt-5">
            <div class="flex flex-row justify-between w-full ">
                <div class=" border-b w-64 mb-10 font-semibold border-gray-600 pb-2">
                    {%if asregister.process != "재방문완료"%}<i class="fas fa-angle-double-down text-lg"></i>
                    {%endif%}재방문 정보
                </div>

                {%if asregister.AS현장방문요청.AS현장방문.AS재방문.수리기사 == user%}
                <div class="flex justify-end ">
                    <div class="flex flex-row">
                        <div class="">
                            <a href="{%url "afterservices:ASrevisitedit" asregister.AS현장방문요청.AS현장방문.AS재방문.pk%}">
                                <div class="btn-link bg-teal-800 hover:font-bold">
                                    재방문수정 </div>
                            </a>
                        </div>
                        {%if asregister.process == "재방문완료"%}
                        <div class="">
                            <a
                                href="{%url "afterservices:ASrevisitdeleteensure" asregister.AS현장방문요청.AS현장방문.AS재방문.pk %}">
                                <div class="btn-link  bg-red-800 ml-5 hover:font-bold">
                                    재방문삭제 </div>
                            </a>
                        </div>
                        {%endif%}
                    </div>
                </div>
                {%endif%}
            </div>

            <table class="table-fixed font-light text-xs w-full -mt-6">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">AS방법</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">AS처리내역</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">모델코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">모델명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">특이사항</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">고객이름</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수리기사</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">AS날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.AS재방문.AS방법}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.AS재방문.AS처리내역}}</td>
                        {%if asregister.AS현장방문요청.AS현장방문.AS재방문.접수제품분류 == "단품"%}
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.AS재방문.단품.모델코드}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.AS재방문.단품.모델명}}</td>
                        {%else%}
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.AS재방문.랙.랙시리얼코드}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.AS재방문.랙.랙모델명}}</td>
                        {%endif%}
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.AS재방문.특이사항}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.AS재방문.고객이름}}</td>
                        <td class="border px-4 py-2">{{asregister.AS현장방문요청.AS현장방문.AS재방문.수리기사}}</td>
                        <td class="border px-4 py-2">
                            {{asregister.AS현장방문요청.AS현장방문.AS재방문.AS날짜.year}}-{{asregister.AS현장방문요청.AS현장방문.AS재방문.AS날짜.month}}-{{asregister.AS현장방문요청.AS현장방문.AS재방문.AS날짜.day}}
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
        {%endif%}
        {%if asregister.process == "AS완료"%}
        <div class="flex flex-col w-full  mt-5 border-t border-dashed pt-4 border-gray-600">
            {%if asregister.AS완료%}
            <div class="flex flex-row justify-between w-full ">
                <div class=" border-b w-64 mb-10 font-semibold border-gray-600 pb-2">
                    AS완료 - 내부처리
                </div>
                {%if asregister.AS완료.완료확인자 == user%}
                <div class="flex justify-end ">
                    <div class="flex flex-row">
                        <div class="">
                            <a href="{%url "afterservices:ASsuccessdeleteensure" asregister.AS완료.pk %}">
                                <div class="btn-link  bg-red-800 ml-5 hover:font-bold">
                                    AS완료 철회 </div>
                            </a>
                        </div>
                    </div>
                </div>
                {%endif%}
            </div>
            <table class="table-fixed font-light text-xs w-full -mt-6">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-10">완료확인자</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">완료날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2 text-center">{{asregister.AS완료.완료확인자}}</td>
                        <td class="border px-4 py-2 text-center">
                            {{asregister.AS완료.완료날짜.year}}-{{asregister.AS완료.완료날짜.month}}-{{asregister.AS완료.완료날짜.day}}
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">처리내용</th>
                        <th class="border px-4 py-2 w-24">{{asregister.AS완료.처리내용}}</th>
                    </tr>
                </thead>
            </table>
            {%endif%}
            {%if asregister.AS현장방문요청.AS완료%}
            <div class="flex flex-row justify-between w-full ">
                <div class=" border-b w-64 mb-10 font-semibold border-gray-600 pb-2">
                    AS완료 - 담당자내부처리
                </div>
                {%if asregister.AS현장방문요청.AS완료.완료확인자 == user%}
                <div class="flex justify-end ">
                    <div class="flex flex-row">
                        <div class="">
                            <a href="{%url "afterservices:ASsuccessdeleteensure" asregister.AS현장방문요청.AS완료.pk %}">
                                <div class="btn-link  bg-red-800 ml-5 hover:font-bold">
                                    AS완료 철회 </div>
                            </a>
                        </div>
                    </div>
                </div>
                {%endif%}
            </div>
            <table class="table-fixed font-light text-xs w-full -mt-6">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-10">완료확인자</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">완료날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2 text-center">{{asregister.AS현장방문요청.AS완료.완료확인자}}</td>
                        <td class="border px-4 py-2 text-center">
                            {{asregister.AS현장방문요청.AS완료.완료날짜.year}}-{{asregister.AS현장방문요청.AS완료.완료날짜.month}}-{{asregister.AS현장방문요청.AS완료.완료날짜.day}}
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">처리내용</th>
                        <th class="border px-4 py-2 w-24">{{asregister.AS현장방문요청.AS완료.처리내용}}</th>
                    </tr>
                </thead>
            </table>
            {%endif%}
            {%if asregister.AS현장방문요청.AS현장방문.AS완료%}
            <div class="flex flex-row justify-between w-full ">
                <div class=" border-b w-64 mb-10 font-semibold border-gray-600 pb-2">
                    AS완료 - 방문
                </div>
                {%if asregister.AS현장방문요청.AS현장방문.AS완료.완료확인자 == user%}
                <div class="flex justify-end ">
                    <div class="flex flex-row">
                        <div class="">
                            <a href="{%url "afterservices:ASsuccessdeleteensure" asregister.AS현장방문요청.AS현장방문.AS완료.pk %}">
                                <div class="btn-link  bg-red-800 ml-5 hover:font-bold">
                                    AS완료 철회 </div>
                            </a>
                        </div>
                    </div>
                </div>
                {%endif%}
            </div>
            <table class="table-fixed font-light text-xs w-full -mt-6">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">완료확인자</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">완료날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2 text-center">{{asregister.AS현장방문요청.AS현장방문.AS완료.완료확인자}}</td>
                        <td class="border px-4 py-2 text-center">
                            {{asregister.AS현장방문요청.AS현장방문.AS완료.완료날짜.year}}-{{asregister.AS현장방문요청.AS현장방문.AS완료.완료날짜.month}}-{{asregister.AS현장방문요청.AS현장방문.AS완료.완료날짜.day}}
                        </td>
                    </tr>
                </tbody>
            </table>
            {%endif%}
            {%if asregister.AS현장방문요청.AS현장방문.AS재방문.AS완료%}
            <div class="flex flex-row justify-between w-full ">
                <div class=" border-b w-64 mb-10 font-semibold border-gray-600 pb-2">
                    AS완료 - 재방문
                </div>
                {%if asregister.AS현장방문요청.AS현장방문.AS재방문.AS완료.완료확인자 == user%}
                <div class="flex justify-end ">
                    <div class="flex flex-row">
                        <div class="">
                            <a
                                href="{%url "afterservices:ASsuccessdeleteensure" asregister.AS현장방문요청.AS현장방문.AS재방문.AS완료.pk %}">
                                <div class="btn-link  bg-red-800 ml-5 hover:font-bold">
                                    AS완료 철회 </div>
                            </a>
                        </div>
                    </div>
                </div>
                {%endif%}
            </div>
            <table class="table-fixed font-light text-xs w-full -mt-6">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">완료확인자</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">완료날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2 text-center">{{asregister.AS현장방문요청.AS현장방문.AS재방문.AS완료.완료확인자}}</td>
                        <td class="border px-4 py-2 text-center">
                            {{asregister.AS현장방문요청.AS현장방문.AS재방문.AS완료.완료날짜.year}}-{{asregister.AS현장방문요청.AS현장방문.AS재방문.AS완료.완료날짜.month}}-{{asregister.AS현장방문요청.AS현장방문.AS재방문.AS완료.완료날짜.day}}
                        </td>
                    </tr>
                </tbody>
            </table>
            {%endif%}
        </div>
        {%endif%}



    </div>



</div>
{%endblock main_contens %}