{%extends "afterservices/afterserviceshome.html"%}
{%load static%}
{% block page_title%}
AS수리의뢰
{%endblock%}


{%block head_title%}
<i class="fas fa-angle-right mx-1 text-base"></i>
<a href="{%url "afterservices:ASexrepairlist"%}">
    AS수리의뢰</a><i class="fas fa-angle-right text-base mx-1"></i>


AS수리의뢰 등록
{%endblock head_title %}


{%block main_contens%}
<div class="flex flex-col w-full pt-12 pl-32">
    <div class="flex flex-col pl-6">
        <span class="border-b w-1/3 mb-3  border-gray-600 pb-2 font-semibold text-base">AS수리의뢰 등록 </span>
        <div class="w-64 border h-6 mb-2">
            <form method="get" action="" class="w-full flex ">
                <button class="w-4 h-4 mt-1 ml-1  rounded-xl bg-cover bg-center"
                    style="background-image:url({% static 'img/search.png' %});"></button>

                <input name="search" placeholder={{search}}
                    class="ml-1 w-full border-none search-box text-xs font-medium placeholder-red-400 focus: outline-none" />
            </form>
        </div>
    </div>
    <div class="flex pl-6">
        <form method="POST" class=" flex justify-start items-start" enctype="multipart/form-data">
            <div class="flew flex-col ">
                {% csrf_token %}
                <table class="table-fixed font-light text-xs w-full">
                    <thead>
                        <tr>
                            <th class="border bg-gray-200 px-1 py-2 w-10">선택</th>
                            <th class="border bg-gray-200 px-4 py-2 w-16">모델코드</th>
                            <th class="border bg-gray-200 px-4 py-2 w-16">모델명</th>
                            <th class="border bg-gray-200 px-4 py-2 w-16">실재고</th>
                            <th class="border bg-gray-200 px-4 py-2 w-16">가용재고</th>
                            <th class="border bg-gray-200 px-4 py-2 w-16">규격</th>
                            <th class="border bg-gray-200 px-4 py-2 w-16">단가</th>
                            <th class="border bg-gray-200 px-4 py-2 w-16">단위</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ul id="id_단품모델">
                            {%for list in customer%}
                            <tr>
                                <td class="border px-4 py-2 text-center">
                                    <label for="id_단품모델_0"><input type="radio" name="단품모델" value={{list.모델코드}}
                                            required="" id="id_단품모델_0">
                                    </label>

                                </td>
                                <td class="border px-4 py-2 hover:text-blue-700"><a
                                        href="{%url "StandardInformation:singledetail" list.pk %}">
                                        {{list.모델코드}}</a></td>
                                <td class="border px-4 py-2 font-medium hover:text-blue-700 hover:font-bold"><a
                                        href="{%url "StandardInformation:singledetail" list.pk %}">{{list.모델명}}</a>
                                </td>
                                <td class="border px-4 py-2">{{list.단품재고.실수량}}</td>
                                <td class="border px-4 py-2">{{list.단품재고.출하요청제외수량}}</td>
                                <td class="border px-4 py-2">{{list.규격}}</td>
                                <td class="border px-4 py-2">{{list.단가}}</td>
                                <td class="border px-4 py-2">{{list.단위}}</td>
                            </tr>
                            {%endfor%}
                        </ul>

                    </tbody>
                </table>
                <div class="flex ml-2">
                    {% if page != '1' %}
                    {%if s_bool%}
                    <a href="?search={{search}}&page={{previouspage}}" class="text-teal-700"><i
                            class="fas fa-arrow-left fa-lg mt-2"></i></a>
                    {%else%}
                    <a href="?page={{previouspage}}" class="text-teal-700"><i
                            class="fas fa-arrow-left fa-lg mt-2"></i></a>
                    {% endif %}{% endif %}
                    <span class="mx-3 font-medium  text-base">{{page}} of
                        {{totalpage}}</span>

                    {% if notsamebool %}
                    {%if s_bool%}
                    <a href="?search={{search}}&page={{nextpage}}" class="text-teal-700"><i
                            class="fas fa-arrow-right fa-lg mt-2"></i></a>
                    {%else%}
                    <a href="?page={{nextpage}}" class="text-teal-700"><i class="fas fa-arrow-right fa-lg mt-2"></i></a>
                    {% endif %}{% endif %}
                </div>

            </div>


            <div class="w-full justify-center flex flex-col ml-12">


                <table class="table-fixed text-sm w-full">
                    <thead>
                        <tr>
                            <th class="border border-r-0 bg-gray-200 px-1 py-2 w-40 text-right">AS</th>
                            <th class="border border-l-0 bg-gray-200 px-0 py-2 w-40 text-left">수리의뢰</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in form %}
                        {%if field.name != "단품모델"%}
                        <tr>

                            <td class="border border-gray-400 px-4 py-2">
                                {{field.name}}
                            </td>





                            <td class="border border-gray-400 px-4 py-2">

                                <div class=" {%if field.name != "택배관련"%}border{%endif%}  hover:border-gray-500 w-full ">
                                    {{field}}</div>
                                <div class="text-xs text-green-700 ">

                                    {{field.help_text}}
                                </div>
                                {% if field.errors %}
                                {% for error in field.errors %}
                                <div class=" text-red-700 font-light text-xs">*{{error}}</div>
                                {% endfor %}
                                {% endif %}

                            </td>
                            {%endif%}
                            {%endfor%}
                        </tr>

                    </tbody>
                </table>
                <div class=" flex flex-row justify-around -mx-12">
                    <button class="btn-link bg-blue-800 text-white w-9/12 h-12 self-center my-3 pt-0 pb-1">
                        <div class="text-base font-medium">등록완료</div>
                    </button>
                </div>
            </div>
    </div>
    </form>
</div>
</div>
<script>
    let btuList = document.getElementsByName("단품모델");
    let singleProductID = document.getElementById("id_신청품목");
    btuList.forEach((btu) => btu.addEventListener("click", (e) => singleProductID.value = e.target.value));
</script>
{%endblock main_contens %}