{%extends "afterservices/afterserviceshome.html"%}
{%load static%}
{% block page_title%}
AS접수
{%endblock%}


{%block head_title%}
<i class="fas fa-angle-right mx-1 text-base"></i>
<a href="{%url "afterservices:ASregister"%}" class="hover:font-bold">

    AS접수
</a>
{%endblock head_title %}


{%block main_contens%}

<div class="w-11/12 h-full ml-32 -mt-6 font-normal pt-12 flex flex-col">

    <div class="flex flex-col p-6 w-full ">
        <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">AS접수 등록 </span>
    </div>
    <form method="POST" class="w-full flex flex-col justify-center " enctype="multipart/form-data">
        {% csrf_token %}
        <div class=" flex flex-col px-12 justify-center items-center w-3/4">
            <div class="w-full justify-center flex flex-col">
                <table class="table-fixed text-sm w-full">
                    <thead>
                        <tr>
                            <th class="border border-r-0 bg-gray-200 px-4 py-2 w-32"></th>
                            <th class="border border-l-0 bg-gray-200 px-4 py-2 w-56 text-left">AS접수</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in form %}
                        <tr>
                            <td class="border border-gray-400 px-4 py-2">
                                {{field.name}}
                            </td>
                            <td class="border border-gray-400 px-4 py-2">
                                <div
                                    class="flex  {%if field.name not in seletelist %} border hover:border-gray-500 w-full {%endif%} ">
                                    {% if field.name == "접수일" %}
                                    <input type="text" name="접수일" id="date2" size="10" />
                                    {%elif field.name == "설치연도"%}
                                    <input type="text" name="설치연도" id="date3" size="10" />
                                    {% else %}
                                    {{field}}
                                    {% endif %}</div>
                                <div class="text-xs text-green-700 ">

                                    {{field.help_text}}
                                </div>
                                {% if field.errors %}
                                {% for error in field.errors %}
                                <div class="text-red-700 font-light text-xs">*{{error}}</div>
                                {% endfor %}
                                {% endif %}



                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class=" flex flex-row justify-around w-full">
                <button onclick="go();"
                    class="btn-link bg-blue-800 text-white w-full px-4 h-12 self-center my-3 pt-0 pb-1">
                    <div class="text-base font-medium">입력완료</div>
                </button> </div>
        </div>
    </form>
</div>


{%endblock main_contens %}