{%extends "afterservices/afterserviceshome.html"%}
{% load static%}
{% block page_title%}
AS단품출하요청 목록
{%endblock%}


{%block head_title%}
</a><i class="fas fa-angle-right mx-1 text-base"></i> AS단품출하요청 목록
{%endblock head_title %}


{%block main_contens%}
<div class="flex flex-col">
    <div class="w-11/12 h-full ml-32 -mt-6 font-semibold pt-12 flex flex-col">
        <div class="flex flex-col">
            <div class="flex flex-col p-6 w-full ">
                <div class="flex justify-between">
                    <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">나의 AS단품출하요청 목록
                    </span>
                    <div class="mr-5">
                        <a href="{%url "afterservices:ASexsingleoutlist"%}">
                            <div class="btn-link bg-teal-800 hover:font-bold">
                                단품출하요청 </div>
                        </a>
                    </div>
                </div>
                <div class="w-64 border h-6 mb-2">

                    <form method="get" action="" class="w-full flex ">
                        <button class="w-4 h-4 mt-1 ml-1  rounded-xl bg-cover bg-center"
                            style="background-image:url({% static 'img/search.png' %});"></button>

                        <input name="search"
                            class="ml-1 w-full border-none search-box text-xs font-medium placeholder-red-400 focus: outline-none"
                            placeholder={{search}} />

                    </form>
                </div>
                <div class="flex ">
                    <div class="flew flex-col">
                        <table class="table-fixed font-light text-xs w-full">
                            <thead>
                                <tr>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">진행상태</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">접수번호</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">신청자</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">고객사</th>
                                    <th class="border bg-gray-200 px-2 py-2 w-24">출하요청수량</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">제품코드</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">제품명</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">신청일</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for list in queryset%}
                                <tr>
                                    <td
                                        class="border px-4 py-2 font-bold {%if list.process == "출하완료"%} text-green-600{%endif%} text-center">
                                        {{list.process}}
                                        {%if list.process != "출하완료"%}
                                        <a href="{%url "afterservices:orderstocksingledelete" list.pk%}">
                                            <div
                                                class="btn-link hover:bg-blue-800 bg-teal-700 hover:font-bold mt-1 mb-0  w-full">
                                                출하요청철회
                                            </div>
                                        </a>
                                        {%endif%}
                                    </td>
                                    <td class="border px-4 py-2 hover:text-blue-700 hover:font-bold">
                                        <a
                                            href="{%url "afterservices:ASrequestdetail" list.AS.AS현장방문요청.AS접수.pk%}">{{list.AS.AS현장방문요청.AS접수.접수번호}}</a>
                                    </td>

                                    <td class="border px-4 py-2">{{list.출하요청자.first_name}}</td>
                                    <td class="border px-4 py-2">{{list.고객사.거래처명}}</td>
                                    <td class="border px-4 py-2">{{list.출하요청수량}}</td>
                                    <td class="border px-4 py-2">{{list.단품.모델코드}}</td>
                                    <td class="border px-4 py-2">{{list.단품.모델명}}</td>
                                    <td class="border px-4 py-2">
                                        {{list.created.year}}-{{list.created.month}}-{{list.created.day}}</td>
                                </tr>
                                {%endfor%}

                            </tbody>
                        </table>

                        {%if nonpage%}
                        {%else%}
                        <div class="flex ml-2">
                            {% if page != '1' %}
                            {%if s_bool%}
                            <a href="?search={{search}}&page={{previouspage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-left fa-lg mt-2"></i></a>
                            {%else%}
                            <a href="?page={{previouspage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-left fa-lg mt-2"></i></a>
                            {% endif %}{% endif %}
                            <span class="mx-3 font-medium  text-base">{{page}} of
                                {{totalpage}}</span>

                            {% if notsamebool %}
                            {%if s_bool%}
                            <a href="?search={{search}}&page={{nextpage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-right fa-lg mt-2"></i></a>
                            {%else%}
                            <a href="?page={{nextpage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-right fa-lg mt-2"></i></a>
                            {% endif %}{% endif %}
                        </div>
                        {%endif%}
                    </div>

                </div>
            </div>

        </div>
    </div>
    {%endblock main_contens %}