{%extends "afterservices/afterserviceshome.html"%}
{% load static%}
{% block page_title%}
AS현장방문완료 목록
{%endblock%}


{%block head_title%}
</a><i class="fas fa-angle-right mx-1 text-base"></i>AS현장방문 완료 목록
{%endblock head_title %}


{%block main_contens%}
<div class="flex flex-col">
    <div class="w-11/12 h-full ml-32 -mt-6 font-semibold pt-12 flex flex-col">
        <div class="flex flex-col">
            <div class="flex flex-col p-6 w-full ">
                <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">AS방문 완료 목록</span>
                <div class="w-64 border h-6 mb-2">

                    <form method="get" action="" class="w-full flex ">
                        <button class="w-4 h-4 mt-1 ml-1  rounded-xl bg-cover bg-center"
                            style="background-image:url({% static 'img/search.png' %});"></button>

                        <input name="search"
                            class="ml-1 w-full border-none search-box text-xs font-medium placeholder-red-400 focus: outline-none"
                            placeholder={{search}} />

                    </form>
                </div>
                <div class="flex ">
                    <div class="flew flex-col">
                        <table class="table-fixed font-light text-xs w-full">
                            <thead>
                                <tr>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">AS완료</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">접수번호</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">현상</th>
                                    <th class="border bg-gray-200 px-2 py-2 w-24">불량분류코드</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-32">불량분류</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-32">대응유형</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">의뢰처</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">제품코드</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">제품명</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">현장명</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">접수일</th>
                                    <th class="border bg-gray-200 px-4 py-2 w-24">방문요청일</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for list in queryset%}
                                <tr>
                                    <td class="border px-2 py-2 font-bold 
                                    text-blue-800 justify-center">
                                        <a href="{%url "afterservices:ASdonevisit" list.AS현장방문.pk %}">
                                            <div
                                                class="btn-link hover:bg-blue-700 bg-teal-600 hover:font-bold mt-1 mb-0  w-full">
                                                AS완료
                                            </div>
                                        </a>
                                    </td>
                                    <td class="border px-4 py-2 hover:text-blue-700 hover:font-bold">
                                        <a
                                            href="{%url "afterservices:ASrequestdetail" list.AS접수.pk%}">{{list.AS접수.접수번호}}</a>
                                    </td>
                                    <td class="border px-4 py-2">{{list.AS접수.현상}}</td>
                                    <td class="border px-4 py-2">{{list.AS접수.불량분류코드}}</td>
                                    <td class="border px-4 py-2">{{list.AS접수.불량분류}}</td>
                                    <td class="border px-4 py-2">{{list.AS접수.대응유형}}</td>
                                    <td class="border px-4 py-2">{{list.AS접수.의뢰처}}</td>
                                    {%if list.AS접수.접수제품분류 == "단품"%}
                                    <td class="border px-4 py-2">{{list.AS접수.단품.모델코드}}</td>
                                    <td class="border px-4 py-2">{{list.AS접수.단품.모델명}}</td>
                                    {%else%}
                                    <td class="border px-4 py-2">{{list.AS접수.랙.랙시리얼코드}}</td>
                                    <td class="border px-4 py-2">{{list.AS접수.랙.랙모델명}}</td>
                                    {%endif%}
                                    <td class="border px-4 py-2">{{list.AS접수.현장명}}</td>
                                    <td class="border px-4 py-2">
                                        {{list.AS접수.접수일.year}}-{{list.AS접수.접수일.month}}-{{list.AS접수.접수일.day}}</td>
                                    <td class="border px-4 py-2">
                                        {%if list.AS접수.방문요청일 is None%}
                                        {%else%}
                                        {{list.AS접수.방문요청일.year}}-{{list.AS접수.방문요청일.month}}-{{list.AS접수.방문요청일.day}}{%endif%}
                                    </td>
                                </tr>
                                {%endfor%}

                            </tbody>
                        </table>
                        {%if nonpage%}
                        {%else%}
                        <div class="flex ml-2">
                            {% if page != '1' %}
                            {%if s_bool%}
                            <a href="?search={{search}}&page={{previouspage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-left fa-lg mt-2"></i></a>
                            {%else%}
                            <a href="?page={{previouspage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-left fa-lg mt-2"></i></a>
                            {% endif %}{% endif %}
                            <span class="mx-3 font-medium  text-base">{{page}} of
                                {{totalpage}}</span>

                            {% if notsamebool %}
                            {%if s_bool%}
                            <a href="?search={{search}}&page={{nextpage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-right fa-lg mt-2"></i></a>
                            {%else%}
                            <a href="?page={{nextpage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-right fa-lg mt-2"></i></a>
                            {% endif %}{% endif %}
                        </div>
                        {%endif%}
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="w-11/12 h-full ml-32 -mt-6 font-semibold pt-12 flex flex-col">

        <div class="flex flex-col p-6 w-full ">
            <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">AS재방문 완료 목록
            </span>
            <div class="w-64 border h-6 mb-2">

                <form method="get" action="" class="w-full flex ">
                    <button class="w-4 h-4 mt-1 ml-1  rounded-xl bg-cover bg-center"
                        style="background-image:url({% static 'img/search.png' %});"></button>

                    <input name="search2" placeholder={{search2}}
                        class="ml-1 w-full border-none search-box text-xs font-medium placeholder-red-400 focus: outline-none" />

                </form>
            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-20">AS완료</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">접수번호</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">의뢰처</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">제품코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">제품명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">AS방법</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">고객이름</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">AS처리내역</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수리기사</th>
                    </tr>
                </thead>
                <tbody>
                    {%for list in queryset2%}
                    <tr>
                        <td class="border px-2 py-2 font-bold 
                                    text-blue-800 justify-center">
                            <a href="{%url "afterservices:ASdonerevisit" list.pk %}">
                                <div class="btn-link hover:bg-blue-700 bg-teal-600 hover:font-bold mt-1 mb-0  w-full">
                                    AS완료
                                </div>
                            </a>
                        </td>
                        <td class="border px-4 py-2 hover:text-blue-700 hover:font-bold">
                            <a
                                href="{%url "afterservices:ASrequestdetail" list.AS현장방문요청.AS접수.pk%}">{{list.AS현장방문요청.AS접수.접수번호}}</a>
                        </td>
                        <td class="border px-4 py-2">{{list.AS현장방문요청.AS접수.의뢰처}}</td>
                        {%if list.접수제품분류 == "단품"%}
                        <td class="border px-4 py-2">{{list.단품.모델코드}}</td>
                        <td class="border px-4 py-2">{{list.단품.모델명}}</td>
                        {%else%}
                        <td class="border px-4 py-2">{{list.랙.랙시리얼코드}}</td>
                        <td class="border px-4 py-2">{{list.랙.랙모델명}}</td>
                        {%endif%}
                        <td class="border px-4 py-2">{{list.AS방법}}</td>
                        <td class="border px-4 py-2">{{list.고객이름}}</td>
                        <td class="border px-4 py-2">{{list.AS처리내역}}</td>
                        <td class="border px-4 py-2">{{list.수리기사}}</td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>
            {%if nonpage2%}
            {%else%}
            <div class="flex ml-2">
                {% if page2 != '1' %}
                {%if s_bool2%}
                <a href="?search2={{search2}}&page2={{previouspage2}}" class="text-teal-700"><i
                        class="fas fa-arrow-left fa-lg mt-2"></i></a>
                {%else%}
                <a href="?page2={{previouspage2}}" class="text-teal-700"><i
                        class="fas fa-arrow-left fa-lg mt-2"></i></a>
                {% endif %}{% endif %}
                <span class="mx-3 font-medium  text-base">{{page2}} of
                    {{totalpage2}}</span>

                {% if notsamebool2 %}
                {%if s_bool2%}
                <a href="?search2={{search2}}&page2={{nextpage2}}" class="text-teal-700"><i
                        class="fas fa-arrow-right fa-lg mt-2"></i></a>
                {%else%}
                <a href="?page2={{nextpage2}}" class="text-teal-700"><i class="fas fa-arrow-right fa-lg mt-2"></i></a>
                {% endif %}{% endif %}
            </div>
            {%endif%}
        </div>



    </div>
</div>
{%endblock main_contens %}