{%extends "orders/ordershome.html"%}
{% load static%}
{% block page_title%}
수주정보
{%endblock%}


{%block head_title%}
</a><i class="fas fa-angle-right mx-1 text-base"></i>수주정보<i class="fas fa-angle-right text-base mx-1"></i>
{{order.수주코드}}</span>
{%endblock head_title %}


{%block main_contens%}

<div class="w-11/12 h-full ml-32 -mt-6 pt-12 flex flex-row">

    <div class="p-6 flex flex-col w-full">
        <div class="flex flex-col w-full">
            <div class="flex flex-row justify-between w-full ">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">{%if orderproduce%}<i
                        class="fas fa-angle-double-down text-lg"></i> {%endif%}수주정보 - {{order.수주코드}} </div>
                {%if orderproduce%}
                {%else%}
                {%if obj_user == user%}
                <div class="flex flex-row">
                    <div class="mt-2">
                        <a href="{%url "orders:orderedit" order.pk%}">
                            <div class="btn-link bg-teal-800">
                                수주 수정 </div>
                        </a>
                    </div>
                    <div class="mt-2">
                        <a href="{%url "orders:orderdeleteensure" order.pk %}">
                            <div class="btn-link  bg-red-800 ml-5">
                                수주 삭제 </div>
                        </a>
                    </div>

                </div>
                {%endif%}{%endif%}
            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수주코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">사업장구분</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">영업구분</th>
                        <th class="border bg-gray-200 px-4 py-2 w-32">고객사명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-32">제품코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">제품명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">납품수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수주일자</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">납품요청일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2 ">
                            {{order.수주코드}}</td>
                        <td class="border px-4 py-2">{{order.사업장구분}}</td>
                        <td class="border px-4 py-2">{{order.영업구분}}</td>
                        <td class="border px-4 py-2">{{order.고객사명}}</td>
                        {%if order.제품구분 == "단품"%}
                        <td class="border px-4 py-2">{{order.단품모델.모델코드}}</td>
                        <td class="border px-4 py-2">{{order.단품모델.모델명}}</td>
                        {%else%}
                        <td class="border px-4 py-2">{{order.랙모델.랙시리얼코드}}</td>
                        <td class="border px-4 py-2">{{order.랙모델.랙모델명}}</td>
                        {%endif%}

                        <td class="border px-4 py-2">{{order.납품수량}}</td>
                        <td class="border px-4 py-2">
                            {{order.수주일자.year}}-{{order.수주일자.month}}-{{order.수주일자.day}}</td>
                        <td class="border px-4 py-2">
                            {{order.납품요청일.year}}-{{order.납품요청일.month}}-{{order.납품요청일.day}}</td>
                    </tr>

                </tbody>
            </table>


        </div>

        {%if orderproduce%}
        <div class="flex flex-col w-full mt-5">

            <div class="flex flex-row justify-between  w-full ">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">{%if inproduce%}<i
                        class="fas fa-angle-double-down text-lg"></i> {%endif%}생산의뢰 - {{order.생산요청.생산의뢰코드}}</div>
                {%if inproduce%}
                {%else%}
                {%if obj_user == user%}
                <div class="flex flex-row">
                    <div class="mt-2">
                        <a href="{%url "orders:orderproduceedit" order.pk%}">
                            <div class="btn-link bg-teal-800">
                                의뢰 수정 </div>
                        </a>
                    </div>
                    <div class="mt-2">
                        <a href="{%url "orders:orderproducedeleteensure" order.생산요청.pk %}">
                            <div class="btn-link  bg-red-800 ml-5">
                                의뢰 삭제 </div>
                        </a>
                    </div>

                </div>
                {%endif%}{%endif%}


            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">생산의뢰코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">긴급도</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">생산목표수량</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2  ">
                            {{order.생산요청.생산의뢰코드}}</a></td>
                        <td class="border px-4 py-2">{{order.생산요청.긴급도}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산목표수량}}</td>
                    </tr>

                </tbody>
            </table>


        </div>
        {%endif%}
        {%if inproduce%}
        <div class="flex flex-col w-full  mt-5">

            <div class="flex flex-col  w-full ">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">{%if final%}<i
                        class="fas fa-angle-double-down text-lg"></i> {%endif%}생산 중 - {{order.생산요청.생산계획.생산계획등록코드}}
                </div>
            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">생산계획등록코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">현재공정</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">현재공정달성율</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">계획생산량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">누적생산량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">진척도</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2  ">
                            {{order.생산요청.생산계획.생산계획등록코드}}</a></td>.
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.현재공정}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.현재공정달성율}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.계획생산량}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.누적생산량}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.successrate}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        {%endif%}
        {%if final%}
        <div class="flex flex-col w-full  mt-5">

            <div class="flex flex-col  w-full ">
                <div class=" border-b w-64 mb-3 font-semibold border-gray-600 pb-2">최종검사</div>



            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-4 py-2 w-24">검시자</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">검시일</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">적합수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">부적합수량</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2">
                            {{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.검시자}}</a></td>.
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.검시일}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.적합수량}}</td>
                        <td class="border px-4 py-2">{{order.생산요청.생산계획.작업지시서.작업지시서등록.최종검사.최종검사등록.부적합수량}}</td>
                    </tr>

                </tbody>
            </table>






        </div>
        {%endif%}

    </div>



</div>
{%endblock main_contens %}