{%extends "base.html"%}
{% block page_title%}
로그인
{%endblock%}


{% block content %}
<div class="w-10/12 mx-auto h-full -mt-4 items-center font-semibold justify-center pt-3 pl-5">
    <div
        class="mt-12 container mx-auto my-10 xl:w-4/12 lg:w-4/12 md:w-1/2  flex flex-col items-center p-6 border-gray-400 border">

        {% include 'mixins/auth/auth_form.html' with form=form cta="로그인"%}

        <div class="mt-5">

            <span class="mr-2">계정이 없으십니까?</span>
            <a href="{%url "users:signup"%}" class="text-teal-500 font-medium">가입하기</a>
        </div>
        <div class="pt-2 text-xs border-t mt-2">
            <span class="mr-2">이메일이 기억안나십니까?</span>
            <a href="{%url "users:forgotemail"%}" class="text-teal-500 font-medium">이메일 찾기</a>
        </div>
        <div class="mt-2 text-xs">
            <span class="mr-2">비밀번호가 기억안나십니까?</span>
            <a href="{%url "users:forgotpassword"%}" class="text-teal-500 font-medium">새 비밀번호 설정</a>
        </div>
    </div>
</div>
{%endblock content %}