{%extends "base.html"%}
{% block page_title%}
로그인
{%endblock%}


{% block content %}
<div class="w-10/12 mx-auto h-full -mt-4 items-center font-semibold justify-center pt-3 pl-5">
    <div
        class="mt-12 container mx-auto my-10 xl:w-4/12 lg:w-4/12 md:w-1/2  flex flex-col items-center p-6 border-gray-400 border">

        {% include 'mixins/auth/auth_form.html' with form=form cta="Log in"%}

        <div class="mt-5">

            <span class="mr-2">Don't have an account?</span>
            <a href="{%url "users:signup"%}" class="text-teal-500 font-medium">Sign up</a>
        </div>
    </div>
</div>
{%endblock content %}