{%extends "producemanages/producemanageshome.html"%}
{% load static%}
{% block page_title%}
월별계획생산관리
{%endblock%}


{%block head_title%}
<i class="fas fa-angle-right mx-1 text-base"></i>월별계획생산관리
{%endblock head_title %}


{%block main_contens%}
<div class="flex flex-col">
    <div class="w-full h-full pl-32 -mt-6 font-semibold pt-12 flex flex-col">
        <div class="flex flex-col">
            <div class="flex flex-col p-6 w-full ">
                <div class="flex justify-between">
                    <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">월별생산계획 </span>
                    <div class="">
                        <a href="{%url "producemanages:monthlyplannewlist"%}">
                            <div class="btn-link bg-teal-800 hover:font-bold w-32">
                                월별생산계획등록 </div>
                        </a>
                    </div>
                </div>
                <div class="flex ">
                    <div class="flew flex-col">
                        <table class="table-fixed font-light text-xs w-full">
                            <thead>
                                <tr>
                                    <th class="border bg-gray-200 px-2 py-2 w-48">월별생산계획</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for list in queryset%}
                                <tr>
                                    <td class="border px-4 py-2  hover:text-blue-700 hover:font-bold ">
                                        <a name="yearmonth">
                                            <script>
                                                var year = parseInt(({{ list }} + {{ startmonth }}) / 13);
                                                var resultyear = year + {{ startyear }};

                                                var month = ({{ list }} + {{ startmonth }}) % 12;
                                                if (month == "0") month = "12";
                                                var resultyearS = resultyear.toString();
                                                var monthS = month.toString();
                                                var url = "{% url 'producemanages:monthlyplandetail' ypk=12345 mpk=67890 %}".replace(/12345/, resultyearS).replace(/67890/, monthS);
                                                var yearlist = document.getElementsByName("yearmonth");
                                                yearlist[yearlist.length - 1].href = "{% url 'producemanages:monthlyplandetail' ypk=12345 mpk=67890 %}".replace(/12345/, resultyearS).replace(/67890/, monthS);
                                                document.write(resultyear + "년 " + month + "월 생산계획");
                                            </script>

                                    </td>

                                    {%endfor%}

                            </tbody>
                        </table>
                        {%if nonpage%}
                        {%else%}
                        <div class="flex ml-2">
                            {% if page != '1' %}
                            {%if s_bool%}
                            <a href="?search={{search}}&page={{previouspage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-left fa-lg mt-2"></i></a>
                            {%else%}
                            <a href="?page={{previouspage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-left fa-lg mt-2"></i></a>
                            {% endif %}{% endif %}
                            <span class="mx-3 font-medium  text-base">{{page}} of
                                {{totalpage}}</span>

                            {% if notsamebool %}
                            {%if s_bool%}
                            <a href="?search={{search}}&page={{nextpage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-right fa-lg mt-2"></i></a>
                            {%else%}
                            <a href="?page={{nextpage}}" class="text-teal-700"><i
                                    class="fas fa-arrow-right fa-lg mt-2"></i></a>
                            {% endif %}{% endif %}
                        </div>
                        {%endif%}
                    </div>

                </div>
            </div>

        </div>
    </div>
    {%endblock main_contens %}