{%extends "producemanages/producemanageshome.html"%}
{%load static%}
{% block page_title%}
랙조립관리
{%endblock%}


{%block head_title%}
<i class="fas fa-angle-right text-base mx-1"></i>
<a href="{%url "producemanages:rackmakelist"%}" class="hover:font-bold">
    랙조립관리
</a>
{%endblock head_title %}


{%block main_contens%}
<div class="flex flex-col">
    <div class="w-11/12 h-full ml-32 -mt-6 font-semibold pt-12 flex flex-col">

        <div class="flex flex-col p-6 w-full ">
            <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">내 랙 조립 목록 </span>
            <div class="w-64 border h-6 mb-2">

                <form method="get" action="" class="w-full flex ">
                    <button class="w-4 h-4 mt-1 ml-1  rounded-xl bg-cover bg-center"
                        style="background-image:url({% static 'img/search.png' %});"></button>

                    <input name="search" placeholder={{search}}
                        class="ml-1 w-full border-none search-box text-xs font-medium placeholder-red-400 focus: outline-none" />

                </form>
            </div>
            <div class="flex ">
                <div class="flew flex-col">
                    <table class="table-fixed font-light text-xs w-full">
                        <thead>
                            <tr>
                                <th class="border bg-gray-200 px-2 py-2 w-32">랙</th>
                                <th class="border bg-gray-200 px-2 py-2 w-32">수주코드</th>
                                <th class="border bg-gray-200 px-2 py-2 w-24">랙출하요청</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">현재공정</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">제작수량</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">랙조립기사</th>
                                <th class="border bg-gray-200 px-4 py-2 w-32">특이사항</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">랙조립일자</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for list in s_order%}
                            <tr>
                                <td class="border px-4 py-2 font-bold 
                            text-blue-800 ">
                                    {{list.랙}}</td>
                                <td class="border px-4 py-2  hover:text-blue-700 hover:font-bold "><a
                                        href="{%url "producemanages:orderdetail" list.랙출하요청.수주.pk %}">
                                        {{list.랙출하요청.수주.수주코드}}</a></td>
                                <td class="border px-4 py-2">{{list.랙출하요청}}</td>
                                <td class="border px-4 py-2">{{list.현재공정}}</td>
                                <td class="border px-4 py-2">{{list.제작수량}}</td>
                                <td class="border px-4 py-2">{{list.랙조립기사}}</td>
                                <td class="border px-4 py-2">{{list.특이사항}}</td>
                                <td class="border px-4 py-2">
                                    {{list.랙조립일자.year}}-{{list.랙조립일자.month}}-{{list.랙조립일자.day}}</td>
                            </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                    {%if nonpage%}
                    {%else%}
                    <div class="flex ml-2">
                        {% if page != '1' %}
                        {%if s_bool%}
                        <a href="?search={{search}}&page={{previouspage}}" class="text-teal-700"><i
                                class="fas fa-arrow-left fa-lg mt-2"></i></a>
                        {%else%}
                        <a href="?page={{previouspage}}" class="text-teal-700"><i
                                class="fas fa-arrow-left fa-lg mt-2"></i></a>
                        {% endif %}{% endif %}
                        <span class="mx-3 font-medium  text-base">{{page}} of
                            {{totalpage}}</span>

                        {% if notsamebool %}
                        {%if s_bool%}
                        <a href="?search={{search}}&page={{nextpage}}" class="text-teal-700"><i
                                class="fas fa-arrow-right fa-lg mt-2"></i></a>
                        {%else%}
                        <a href="?page={{nextpage}}" class="text-teal-700"><i
                                class="fas fa-arrow-right fa-lg mt-2"></i></a>
                        {% endif %}{% endif %}
                    </div>
                    {%endif%}
                </div>

            </div>
        </div>
    </div>
</div>
{%endblock main_contens %}