{%extends "producemanages/producehome.html"%}
{%load static%}
{% block page_title%}
최종검사 의뢰
{%endblock%}


{%block head_title%}
<i class="fas fa-angle-right text-base mx-1"></i>
<a href="{%url "producemanages:workdonelist"%}" class="hover:font-bold">
    최종검사 의뢰
</a>
{%endblock head_title %}


{%block main_contens%}
<div class="flex flex-col">
    <div class="w-full h-full pl-32 -mt-6 font-semibold pt-12 flex flex-col ">

        <div class="flex flex-col p-6 w-full ">
            <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">공정완료 목록 </span>
            <div class="w-64 border h-6 mb-2">

                <form method="get" action="" class="w-full flex ">
                    <button class="w-4 h-4 mt-1 ml-1  rounded-xl bg-cover bg-center"
                        style="background-image:url({% static 'img/search.png' %});"></button>

                    <input name="search_m" placeholder={{search_m}}
                        class="ml-1 w-full border-none search-box text-xs font-medium placeholder-red-400 focus: outline-none" />

                </form>
            </div>
            <div class="flex ">
                <div class="flew flex-col">
                    <table class="table-fixed font-light text-xs w-full">
                        <thead>
                            <tr>
                                <th class="border bg-gray-200 px-2 py-2 w-32">최종검사의뢰</th>
                                <th class="border bg-gray-200 px-2 py-2 w-24">진행과정</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">수주코드</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">사업장구분</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">영업구분</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">고객사명</th>
                                <th class="border bg-gray-200 px-4 py-2 w-32">제품코드</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">제품명</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">납품수량</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">수주일자</th>
                                <th class="border bg-gray-200 px-4 py-2 w-24">납품요청일</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for list in s_order_m%}
                            <tr>
                                <td class="border px-2 py-2 font-bold 
                            text-blue-800 justify-center">
                                    <a href="{%url "producemanages:orderfinalcheck" list.pk %}">
                                        <div
                                            class="btn-link hover:bg-blue-800 bg-teal-700 hover:font-bold mt-1 mb-0  w-full">
                                            최종검사의뢰
                                        </div>
                                    </a>
                                </td>


                                <td class="border px-2 py-2 font-bold 
                            text-blue-800 ">
                                    {{list.process}}</td>
                                <td class="border px-4 py-2  hover:text-blue-700 hover:font-bold "><a
                                        href="{%url "producemanages:orderdetailforwork" list.pk %}">
                                        {{list.수주코드}}</a></td>
                                <td class="border px-4 py-2">{{list.사업장구분}}</td>
                                <td class="border px-4 py-2">{{list.영업구분}}</td>
                                <td class="border px-4 py-2">{{list.고객사명}}</td>
                                {%if list.제품구분 == "단품"%}
                                <td class="border px-4 py-2">{{list.단품모델.모델코드}}</td>
                                <td class="border px-4 py-2">{{list.단품모델.모델명}}</td>
                                {%else%}
                                <td class="border px-4 py-2">{{list.랙모델.랙시리얼코드}}</td>
                                <td class="border px-4 py-2">{{list.랙모델.랙모델명}}</td>
                                {%endif%}

                                <td class="border px-4 py-2">{{list.납품수량}}</td>
                                <td class="border px-4 py-2">
                                    {{list.수주일자.year}}-{{list.수주일자.month}}-{{list.수주일자.day}}</td>
                                <td class="border px-4 py-2">
                                    {%if list.납품요청일 is None%}
                                    {%else%}
                                    {{list.납품요청일.year}}-{{list.납품요청일.month}}-{{list.납품요청일.day}}{%endif%}</td>
                            </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                    {%if nonpage_m%}
                    {%else%}
                    <div class="flex ml-2">
                        {% if page_m != '1' %}
                        {%if s_bool_m%}
                        <a href="?search_m={{search_m}}&page_m={{previouspage_m}}" class="text-teal-700"><i
                                class="fas fa-arrow-left fa-lg mt-2"></i></a>
                        {%else%}
                        <a href="?page_m={{previouspage_m}}" class="text-teal-700"><i
                                class="fas fa-arrow-left fa-lg mt-2"></i></a>
                        {% endif %}{% endif %}
                        <span class="mx-3 font-medium  text-base">{{page_m}} of
                            {{totalpage_m}}</span>

                        {% if notsamebool_M %}
                        {%if s_bool_M%}
                        <a href="?search_m={{search_m}}&page_m={{nextpage_m}}" class="text-teal-700"><i
                                class="fas fa-arrow-right fa-lg mt-2"></i></a>
                        {%else%}
                        <a href="?page_m={{nextpage_m}}" class="text-teal-700"><i
                                class="fas fa-arrow-right fa-lg mt-2"></i></a>
                        {% endif %}{% endif %}
                    </div>
                    {%endif%}
                </div>

            </div>
        </div>
    </div>
    <div class="w-11/12 h-full ml-32 -mt-6 font-semibold pt-12 flex flex-col">

        <div class="flex flex-col p-6 w-full ">
            <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">수리완료 목록 : 최종검사 부적합 </span>
            <div class="w-64 border h-6 mb-2">

                <form method="get" action="" class="w-full flex ">
                    <button class="w-4 h-4 mt-1 ml-1  rounded-xl bg-cover bg-center"
                        style="background-image:url({% static 'img/search.png' %});"></button>

                    <input name="search" placeholder={{search}}
                        class="ml-1 w-full border-none search-box text-xs font-medium placeholder-red-400 focus: outline-none" />

                </form>
            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-2 py-2 w-32">최종검사의뢰</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">최종검사코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-32">제품코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">제품명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">적합수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">부적합수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수리수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">폐기수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">작성자</th>
                    </tr>
                </thead>
                <tbody>
                    {%for list in s_order%}
                    <tr>
                        <td class="border px-2 py-2 font-bold 
                        text-blue-800 justify-center">
                            <a href="{%url "producemanages:orderfinalcheckforrepair" list.pk %}">
                                <div class="btn-link hover:bg-blue-800 bg-teal-700 hover:font-bold mt-1 mb-0  w-full">
                                    최종검사의뢰
                                </div>
                            </a>
                        </td>
                        <td class="border px-4 py-2  hover:text-blue-700 hover:font-bold "><a
                                href="{%url "producemanages:repairdetail" list.pk%}">
                                {{list.최종검사결과.최종검사코드}}</a></td>
                        <td class="border px-4 py-2">{{list.최종검사결과.제품.모델코드}}</td>
                        <td class="border px-4 py-2">{{list.최종검사결과.제품.모델명}}</td>
                        <td class="border px-4 py-2">{{list.최종검사결과.적합수량}}</td>
                        <td class="border px-4 py-2">{{list.최종검사결과.부적합수량}}</td>
                        <td class="border px-4 py-2">{{list.실수리수량}}</td>
                        <td class="border px-4 py-2">{{list.폐기수량}}</td>
                        <td class="border px-4 py-2">{{list.작성자}}</td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>
            {%if nonpage%}
            {%else%}
            <div class="flex ml-2">
                {% if page != '1' %}
                {%if s_bool%}
                <a href="?search={{search}}&page={{previouspage}}" class="text-teal-700"><i
                        class="fas fa-arrow-left fa-lg mt-2"></i></a>
                {%else%}
                <a href="?page={{previouspage}}" class="text-teal-700"><i class="fas fa-arrow-left fa-lg mt-2"></i></a>
                {% endif %}{% endif %}
                <span class="mx-3 font-medium  text-base">{{page}} of
                    {{totalpage}}</span>

                {% if notsamebool %}
                {%if s_bool%}
                <a href="?search={{search}}&page={{nextpage}}" class="text-teal-700"><i
                        class="fas fa-arrow-right fa-lg mt-2"></i></a>
                {%else%}
                <a href="?page={{nextpage}}" class="text-teal-700"><i class="fas fa-arrow-right fa-lg mt-2"></i></a>
                {% endif %}{% endif %}
            </div>
            {%endif%}
        </div>
        <div class="flex flex-col p-6 w-full ">
            <span class="border-b w-1/3 mb-3 border-gray-600 pb-2 font-semibold text-base">수리완료 목록 : AS요청 </span>
            <div class="w-64 border h-6 mb-2">

                <form method="get" action="" class="w-full flex ">
                    <button class="w-4 h-4 mt-1 ml-1  rounded-xl bg-cover bg-center"
                        style="background-image:url({% static 'img/search.png' %});"></button>

                    <input name="search_t" placeholder={{search_t}}
                        class="ml-1 w-full border-none search-box text-xs font-medium placeholder-red-400 focus: outline-none" />

                </form>
            </div>
            <table class="table-fixed font-light text-xs w-full">
                <thead>
                    <tr>
                        <th class="border bg-gray-200 px-2 py-2 w-32">최종검사의뢰</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수리요청코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-32">제품코드</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">제품명</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수리신청수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">수리수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">폐기수량</th>
                        <th class="border bg-gray-200 px-4 py-2 w-24">작성자</th>
                    </tr>
                </thead>
                <tbody>
                    {%for list in s_order_t%}
                    <tr>
                        <td class="border px-2 py-2 font-bold 
                        text-blue-800 justify-center">
                            <a href="{%url "producemanages:orderfinalcheckforrepair" list.pk %}">
                                <div class="btn-link hover:bg-blue-800 bg-teal-700 hover:font-bold mt-1 mb-0  w-full">
                                    최종검사의뢰
                                </div>
                            </a>
                        </td>

                        <td class="border px-4 py-2  hover:text-blue-700 hover:font-bold "><a
                                href="{%url "producemanages:repairdetail" list.pk%}">
                                {{list.AS수리의뢰.수리요청코드}}</a></td>
                        <td class="border px-4 py-2">{{list.AS수리의뢰.신청품목.모델코드}}</td>
                        <td class="border px-4 py-2">{{list.AS수리의뢰.신청품목.모델명}}</td>
                        <td class="border px-4 py-2">{{list.AS수리의뢰.신청수량}}</td>
                        <td class="border px-4 py-2">{{list.실수리수량}}</td>
                        <td class="border px-4 py-2">{{list.폐기수량}}</td>
                        <td class="border px-4 py-2">{{list.작성자}}</td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>
            {%if nonpage_t%}
            {%else%}
            <div class="flex ml-2">
                {% if page_t != '1' %}
                {%if s_bool_t%}
                <a href="?search_t={{search_t}}&page_t={{previouspage_t}}" class="text-teal-700"><i
                        class="fas fa-arrow-left fa-lg mt-2"></i></a>
                {%else%}
                <a href="?page_t={{previouspage_t}}" class="text-teal-700"><i
                        class="fas fa-arrow-left fa-lg mt-2"></i></a>
                {% endif %}{% endif %}
                <span class="mx-3 font-medium  text-base">{{page_t}} of
                    {{totalpage_t}}</span>

                {% if notsamebool_t %}
                {%if s_bool_t%}
                <a href="?search_t={{search_t}}&page_t={{nextpage_t}}" class="text-teal-700"><i
                        class="fas fa-arrow-right fa-lg mt-2"></i></a>
                {%else%}
                <a href="?page_t={{nextpage_t}}" class="text-teal-700"><i class="fas fa-arrow-right fa-lg mt-2"></i></a>
                {% endif %}{% endif %}
            </div>
            {%endif%}
        </div>

    </div>
</div>
</div>

</div>
{%endblock main_contens %}